{% comment %}
  Renders a product card

  Accepts:
  - product: {Object} Product Liquid object (optional)
  - media_aspect_ratio: {String} Size of the product image card. Values are "square" and "portrait". Default is "square" (optional)
  - image_shape: {String} Image mask to apply to the product image card. Values are "arch", "blob", "chevronleft", "chevronright", "diamond", "parallelogram", and "round". (optional)
  - show_secondary_image: {Boolean} Show the secondary image on hover. Default: false (optional)
  - show_vendor: {Boolean} Show the product vendor. Default: false
  - show_rating: {Boolean} Show the product rating. Default: false
  - extend_height: {Boolean} Card height extends to available container space. Default: true (optional)
  - lazy_load: {Boolean} Image should be lazy loaded. Default: true (optional)
  - show_quick_add: {Boolean} Show the quick add button.
  - section_id: {String} The ID of the section that contains this card.
  - horizontal_class: {Boolean} Add a card--horizontal class if set to true. Default: false (optional)
  - horizontal_quick_add: {Boolean} Changes the quick add button styles when set to true. Default: false (optional)
  - placeholder_image: {String} The placeholder image to use when no product exists. Default: 'product-apparel-2' (optional)

  Usage:
  {% render 'card-product-adv', show_vendor: section.settings.show_vendor %}
{% endcomment %}

{{ 'component-rating.css' | asset_url | stylesheet_tag }}
{{ 'component-volume-pricing.css' | asset_url | stylesheet_tag }}
<style></style>
{%- if product and product != empty -%}
  {%- liquid
    assign ratio = 1
    if product.featured_media and media_aspect_ratio == 'portrait'
      assign ratio = 0.8
    elsif product.featured_media and media_aspect_ratio == 'adapt'
      assign ratio = product.featured_media.aspect_ratio
    endif
    if ratio == 0 or ratio == null
      assign ratio = 1
    endif
  -%}
  <div
    class="product-card-adv"
    style="--ratio: {{ ratio }};"
  >
    <a
      href="{{ product.url }}"
      class="product-card-adv-image"
    >
      {%- liquid
        assign sizes = '100vw'
        assign widths = '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
      -%}
      {{
        product.featured_media
        | image_url: height: 1920
        | image_tag: loading: 'lazy', height: '100%', sizes: sizes, widths: widths
      -}}

      {% comment %}
        <img
          srcset="
            {%- if product.featured_media.width >= 165 -%}{{ product.featured_media | image_url: width: 165 }} 165w,{%- endif -%}
            {%- if product.featured_media.width >= 360 -%}{{ product.featured_media | image_url: width: 360 }} 360w,{%- endif -%}
            {%- if product.featured_media.width >= 533 -%}{{ product.featured_media | image_url: width: 533 }} 533w,{%- endif -%}
            {%- if product.featured_media.width >= 720 -%}{{ product.featured_media | image_url: width: 720 }} 720w,{%- endif -%}
            {%- if product.featured_media.width >= 940 -%}{{ product.featured_media | image_url: width: 940 }} 940w,{%- endif -%}
            {%- if product.featured_media.width >= 1066 -%}{{ product.featured_media | image_url: width: 1066 }} 1066w,{%- endif -%}
            {{ product.featured_media | image_url }} {{ product.featured_media.width }}w
          "
          src="{{ product.featured_media | image_url: width: 533 }}"
          sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
          alt="{{ product.featured_media.alt | escape }}"
          class="motion-reduce"
          {% unless lazy_load == false %}
            loading="lazy"
          {% endunless %}
          width="{{ product.featured_media.width }}"
          height="{{ product.featured_media.height }}"
        >
      {% endcomment %}
      {% comment %}
        {% if product.metafields.svg.title != blank %}
          {{ product.metafields.svg.title }}
        {% else %}
          {{ product.title | escape }}
        {% endif %}
      {% endcomment %}
    </a>
    <div class="product-card-adv-info">
      <div class="product-card-adv-footer">
        <div class="product-card-adv-price">
          <h1 class="product-card-adv-title">
            {{ product.title | escape }}
          </h1>
          {%- if show_vendor -%}
            <div class="product-card-adv-vendor">
              <span class="visually-hidden">{{ 'accessibility.vendor' | t }}</span>
              {%- for collection in product.collections -%}
                {%- unless collection.handle == 'new-arrivals' and product.collections.size > 1 -%}
                  <a href="{{ collection.url }}" class="caption-with-letter-spacing light" style="display:block">
                    {{- collection.title -}}
                  </a>
                {%- endunless -%}
              {%- endfor -%}
            </div>
          {%- endif -%}
          {%- if show_rating -%}
            <div
              class="AirReviews-Widget AirReviews-Widget--Stars"
              style="margin-top:0.7rem"
              data-review-avg="{{ product.metafields.air_reviews_product.review_avg }}"
              data-review-count="{{ product.metafields.air_reviews_product.review_count }}"
            ></div>
          {% endif %}

          {% render 'price-adv', product: product, price_class: '', show_compare_at_price: true %}
          {%- if product.quantity_price_breaks_configured? -%}
            <div class="card__information-volume-pricing-note">
              <span class="caption">{{ 'products.product.volume_pricing.note' | t }}</span>
            </div>
          {%- endif -%}
        </div>
        {%- if show_quick_add -%}
          <div class="product-card-adv-quick-add">
            <div
              class="mag_wishlist_manually btn_collection-grid"
              pro_handle="{{ product.handle }}"
              pro-url="{{ product.url }}"
            ></div>

            <div class="quick-add no-js-hidden">
              {%- liquid
                assign product_form_id = 'quick-add-' | append: section_id | append: product.id
                assign qty_rules = false
                if product.selected_or_first_available_variant.quantity_rule.min > 1 or product.selected_or_first_available_variant.quantity_rule.max != null or product.selected_or_first_available_variant.quantity_rule.increment > 1
                  assign qty_rules = true
                endif
              -%}
              {%- if product.variants.size > 1 or qty_rules -%}
                <modal-opener data-modal="#QuickAdd-{{ product.id }}">
                  {% comment %}
                    <button type="button" class="css-button">
                      <span class="css-button-icon">
                        <i class="fa fa-cart-plus"></i>
                      </span>
                    </button>
                  {% endcomment %}
                  <button
                    id="{{ product_form_id }}-submit"
                    type="submit"
                    name="add"
                    class="quick-add__submit button-flat-empty{% if horizontal_quick_add %} card--horizontal__quick-add animate-arrow{% endif %}"
                    aria-haspopup="dialog"
                    aria-labelledby="{{ product_form_id }}-submit title-{{ section_id }}-{{ product.id }}"
                    data-product-url="{{ product.url }}"
                  >
                    <span class="css-button-icon">
                      <i class="fa fa-cart-plus"></i>
                    </span>
                    {% comment %}    ss <span class="icon-wrap">{% render 'icon-cart' %}</span> {% endcomment %}
                    {% comment %} {{ 'products.product.choose_options' | t }} {% endcomment %}
                    {%- if horizontal_quick_add -%}
                      <span class="icon-wrap">{% render 'icon-arrow' %}</span>
                    {%- endif -%}
                    <div class="loading-overlay__spinner hidden">
                      <svg
                        aria-hidden="true"
                        focusable="false"
                        class="spinner"
                        viewBox="0 0 66 66"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                      </svg>
                    </div>
                  </button>
                </modal-opener>
                <quick-add-modal id="QuickAdd-{{ product.id }}" class="quick-add-modal">
                  <div
                    role="dialog"
                    aria-label="{{ 'products.product.choose_product_options' | t: product_name: product.title | escape }}"
                    aria-modal="true"
                    class="quick-add-modal__content global-settings-popup"
                    tabindex="-1"
                  >
                    <button
                      id="ModalClose-{{ product.id }}"
                      type="button"
                      class="quick-add-modal__toggle"
                      aria-label="{{ 'accessibility.close' | t }}"
                    >
                      {% render 'icon-close' %}
                    </button>
                    <div id="QuickAddInfo-{{ product.id }}" class="quick-add-modal__content-info"></div>
                  </div>
                </quick-add-modal>
              {%- else -%}
                <product-form data-section-id="{{ section.id }}">
                  {%- form 'product',
                    product,
                    id: product_form_id,
                    class: 'form',
                    novalidate: 'novalidate',
                    data-type: 'add-to-cart-form'
                  -%}
                    <input
                      type="hidden"
                      name="id"
                      value="{{ product.selected_or_first_available_variant.id }}"
                      class="product-variant-id"
                      disabled
                    >
                    <button
                      id="{{ product_form_id }}-submit"
                      type="submit"
                      name="add"
                      class="quick-add__submit button button--full-width button--secondary{% if horizontal_quick_add %} card--horizontal__quick-add{% endif %}"
                      aria-haspopup="dialog"
                      aria-labelledby="{{ product_form_id }}-submit title-{{ section_id }}-{{ product.id }}"
                      aria-live="polite"
                      data-sold-out-message="true"
                      {% if product.selected_or_first_available_variant.available == false %}
                        disabled
                      {% endif %}
                    >
                      <span>
                        {%- if product.selected_or_first_available_variant.available -%}
                          {{ 'products.product.add_to_cart' | t }}
                        {%- else -%}
                          {{ 'products.product.sold_out' | t }}
                        {%- endif -%}
                      </span>
                      <span class="sold-out-message hidden">
                        {{ 'products.product.sold_out' | t }}
                      </span>
                      {%- if horizontal_quick_add -%}
                        <span class="icon-wrap">{% render 'icon-plus' %}</span>
                      {%- endif -%}
                      <div class="loading-overlay__spinner hidden">
                        <svg
                          aria-hidden="true"
                          focusable="false"
                          class="spinner"
                          viewBox="0 0 66 66"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                        </svg>
                      </div>
                    </button>
                  {%- endform -%}
                </product-form>
              {%- endif -%}
            </div>
          </div>
        {%- endif -%}
      </div>
    </div>
  </div>

{%- else -%}
  <div class="card-wrapper product-card-wrapper underline-links-hover">
    <div
      class="
        card card--{{ settings.card_style }}
        {% if extend_height %} card--extend-height{% endif %}
        {% if settings.card_style == 'card' %} color-{{ settings.card_color_scheme }} gradient{% endif %}
      "
      style="--ratio-percent: 100%;"
    >
      <div
        class="card__inner{% if settings.card_style == 'standard' %} color-{{ settings.card_color_scheme }} gradient{% endif %} ratio"
        style="--ratio-percent: 100%;"
      >
        <div class="card__media">
          <div class="media media--transparent">
            {%- if placeholder_image -%}
              {{ placeholder_image | placeholder_svg_tag: 'placeholder-svg' }}
            {%- else -%}
              {{ 'product-apparel-2' | placeholder_svg_tag: 'placeholder-svg' }}
            {% endif %}
          </div>
        </div>
      </div>
      <div class="card__content">
        <div class="card__information">
          <h3 class="card__heading card__heading--placeholder{% if settings.card_style == 'standard' %} h5{% endif %}">
            <a role="link" aria-disabled="true" class="full-unstyled-link">
              {{ 'onboarding.product_title' | t }}
            </a>
          </h3>
          <div class="card-information">
            {%- if show_vendor -%}
              <span class="visually-hidden">{{ 'accessibility.vendor' | t }}</span>
              <div class="caption-with-letter-spacing light">{{ 'products.product.vendor' | t }}</div>
            {%- endif -%}
          </div>
        </div>
      </div>
    </div>
  </div>
{%- endif -%}
