{% comment %}
  Renders a product card

  Accepts:
  - product: {Object} Product Liquid object (optional)
  - media_aspect_ratio: {String} Size of the product image card. Values are "square" and "portrait". Default is "square" (optional)
  - image_shape: {String} Image mask to apply to the product image card. Values are "arch", "blob", "chevronleft", "chevronright", "diamond", "parallelogram", and "round". (optional)
  - show_secondary_image: {Boolean} Show the secondary image on hover. Default: false (optional)
  - show_vendor: {Boolean} Show the product vendor. Default: false
  - show_rating: {Boolean} Show the product rating. Default: false
  - extend_height: {Boolean} Card height extends to available container space. Default: true (optional)
  - lazy_load: {Boolean} Image should be lazy loaded. Default: true (optional)
  - show_quick_add: {Boolean} Show the quick add button.
  - section_id: {String} The ID of the section that contains this card.
  - horizontal_class: {Boolean} Add a card--horizontal class if set to true. Default: false (optional)
  - horizontal_quick_add: {Boolean} Changes the quick add button styles when set to true. Default: false (optional)
  - placeholder_image: {String} The placeholder image to use when no product exists. Default: 'product-apparel-2' (optional)

  Usage:
  {% render 'card-product-adv', show_vendor: section.settings.show_vendor %}
{% endcomment %}

{{ 'component-rating.css' | asset_url | stylesheet_tag }}
{{ 'component-volume-pricing.css' | asset_url | stylesheet_tag }}

{%- if product and product != empty -%}
  {%- liquid
    assign ratio = 1
    if product.featured_media and media_aspect_ratio == 'portrait'
      assign ratio = 0.8
    elsif product.featured_media and media_aspect_ratio == 'adapt'
      assign ratio = product.featured_media.aspect_ratio
    endif
    if ratio == 0 or ratio == null
      assign ratio = 1
    endif
  -%}
  <div class="items-container">
    <div class="item">
      <div class="diamond-container">
        <div class="diamond">
          <div class="diamond-wrapper">
            <div class="diamond-content">$800</div>
          </div>
        </div>
      </div>
      <div class="item-wrapper">
        <div class="content-wrapper">
          <div class="img-container">
            <div class="bg-square"></div>
            <img class="item-img" src="http://katehummer.com/resources/speaker-alpha.png">
          </div>

          <div class="content-text">
            <div class="item-name">15" 2-Way Speaker</div>
            <div class="item-subtext-container">
              <span class="item-subtext subtext-mfr">Mackie</span> |
              <span class="item-subtext subtext-model"> #SA1512</span>
            </div>
          </div>
        </div>
        <div class="view-more-btn">View More <span class="view-symbol">+</span></div>
        <div class="item-details-container">
          <div class="details-content-wrapper">
            <div class="detail">
              <span class="detail-title">Item | </span>
              <span class="detail-text detail-name">15" 2-Way Speaker</span>
            </div>

            <div class="detail">
              <span class="detail-title">MFR | </span>
              <span class="detail-text mfr-name">Mackie</span>
            </div>

            <div class="detail">
              <span class="detail-title">Model # | </span>
              <span class="detail-text detail-model">SA1512</span>
            </div>

            <div class="detail">
              <span class="detail-title">MSRP | </span>
              <span class="detail-text detail-msrp">$1200</span>
            </div>

            <div class="detail">
              <span class="detail-title">Price | </span>
              <span class="detail-text detail-price">$800</span>
            </div>

            <div class="detail detail-desc">
              <div class="detail-title">Description</div>
              <div class="detail-description">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora praesentium quos, accusantium, rem
                architecto veritatis possimus. Quis facilis, quo reiciendis laudantium.
              </div>
              <a href="https://www.ccisolutions.com/StoreFront/jsp/pdf/MAC-SA1521.PDF" target="_blank">
                <div class="detail-manual-link">
                  <div class="manual-icon-container">
                    <svg
                      class="manual-svg"
                      xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                      version="1.1"
                      x="0px"
                      y="0px"
                      viewBox="0 0 465 465"
                      style="enable-background:new 0 0 465 465;"
                      xml:space="preserve"
                      width="512px"
                      height="512px"
                    >
                      <g>
                        <path d="M240,356.071V132.12c0-4.143-3.357-7.5-7.5-7.5s-7.5,3.357-7.5,7.5v223.951c0,4.143,3.357,7.5,7.5,7.5   S240,360.214,240,356.071z" fill="#f1f1f1"/>
                        <path d="M457.5,75.782c-15.856,0-35.614-6.842-56.533-14.085c-26.492-9.174-56.521-19.571-87.663-19.571   c-36.035,0-58.019,15.791-70.115,29.038c-4.524,4.956-8.03,9.922-10.688,14.327c-2.658-4.405-6.164-9.371-10.688-14.327   c-12.097-13.247-34.08-29.038-70.115-29.038c-31.143,0-61.171,10.397-87.663,19.571C43.114,68.94,23.356,75.782,7.5,75.782   c-4.143,0-7.5,3.357-7.5,7.5v302.092c0,4.143,3.357,7.5,7.5,7.5c18.38,0,39.297-7.243,61.441-14.911   c25.375-8.786,54.136-18.745,82.755-18.745c24.54,0,44.403,8.126,59.038,24.152c2.792,3.058,7.537,3.273,10.596,0.48   s3.273-7.537,0.48-10.596c-12.097-13.246-34.08-29.037-70.114-29.037c-31.143,0-61.171,10.397-87.663,19.571   C46.298,369.931,29.396,375.782,15,377.422V90.41c16.491-1.571,34.755-7.896,53.941-14.539   c25.375-8.786,54.136-18.745,82.755-18.745c57.881,0,73.025,45.962,73.634,47.894c0.968,3.148,3.876,5.298,7.17,5.298   s6.202-2.149,7.17-5.298c0.146-0.479,15.383-47.894,73.634-47.894c28.619,0,57.38,9.959,82.755,18.745   c19.187,6.644,37.45,12.968,53.941,14.539v287.012c-14.396-1.64-31.298-7.491-49.033-13.633   c-26.492-9.174-56.521-19.571-87.663-19.571c-36.036,0-58.02,15.791-70.115,29.038c-2.793,3.06-2.578,7.803,0.48,10.596   c3.06,2.793,7.804,2.578,10.596-0.48c14.635-16.027,34.498-24.153,59.039-24.153c28.619,0,57.38,9.959,82.755,18.745   c22.145,7.668,43.062,14.911,61.441,14.911c4.143,0,7.5-3.357,7.5-7.5V83.282C465,79.14,461.643,75.782,457.5,75.782z" fill="#f1f1f1"/>
                        <path d="M457.5,407.874c-15.856,0-35.614-6.842-56.533-14.085c-26.492-9.174-56.521-19.571-87.663-19.571   c-33.843,0-55.291,13.928-67.796,26.596l-26.017-0.001c-12.505-12.668-33.954-26.595-67.795-26.595   c-31.143,0-61.171,10.397-87.663,19.571c-20.919,7.243-40.677,14.085-56.533,14.085c-4.143,0-7.5,3.357-7.5,7.5s3.357,7.5,7.5,7.5   c18.38,0,39.297-7.243,61.441-14.911c25.375-8.786,54.136-18.745,82.755-18.745c24.54,0,44.403,8.126,59.038,24.152   c1.421,1.556,3.431,2.442,5.538,2.442l32.454,0.001c2.107,0,4.117-0.887,5.538-2.442c14.635-16.027,34.498-24.153,59.039-24.153   c28.619,0,57.38,9.959,82.755,18.745c22.145,7.668,43.062,14.911,61.441,14.911c4.143,0,7.5-3.357,7.5-7.5   S461.643,407.874,457.5,407.874z" fill="#f1f1f1"/>
                      </g>
                    </svg>
                  </div>
                  <div class="manual-link-text">View Manual</div>
                </div>
              </a>
            </div>

            <div class="delivery-container">
              <input type="radio" name="delivery-radio" class="delivery-radio" value="pickup" checked>
              <div class="delivery-radio-text">Pickup</div>
              <input type="radio" name="delivery-radio" class="delivery-radio" value="delivery" title="delivery">
              <div class="delivery-radio-text">Delivery</div>
            </div>

            <div class="detail-gallery">
              <a class="thumb-link" href="#"
                ><img class="detail-thumb" src="http://katehummer.com/resources/speaker-thumb-01.jpg" alt="Item Preview"
              ></a>
              <a class="thumb-link" id="more-thumbs" href="#">
                <div class="thumb-overlay">+</div>
                <img class="detail-thumb" src="http://katehummer.com/resources/speaker-thumb-02.jpg" alt="Item Preview">
              </a>
            </div>

            <div class="detail-price-container">
              <div class="price-subtext">Est. Price</div>
              <div class="price-text">$800</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% comment %}
    <a class="card" href="{{ product.url }}">
      <div class="product-image">
        <img
          srcset="
            {%- if product.featured_media.width >= 165 -%}{{ product.featured_media | image_url: width: 165 }} 165w,{%- endif -%}
            {%- if product.featured_media.width >= 360 -%}{{ product.featured_media | image_url: width: 360 }} 360w,{%- endif -%}
            {%- if product.featured_media.width >= 533 -%}{{ product.featured_media | image_url: width: 533 }} 533w,{%- endif -%}
            {%- if product.featured_media.width >= 720 -%}{{ product.featured_media | image_url: width: 720 }} 720w,{%- endif -%}
            {%- if product.featured_media.width >= 940 -%}{{ product.featured_media | image_url: width: 940 }} 940w,{%- endif -%}
            {%- if product.featured_media.width >= 1066 -%}{{ product.featured_media | image_url: width: 1066 }} 1066w,{%- endif -%}
            {{ product.featured_media | image_url }} {{ product.featured_media.width }}w
          "
          src="{{ product.featured_media | image_url: width: 533 }}"
          sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
          alt="{{ product.featured_media.alt | escape }}"
          class="motion-reduce"
          {% unless lazy_load == false %}
            loading="lazy"
          {% endunless %}
          width="{{ product.featured_media.width }}"
          height="{{ product.featured_media.height }}"
        >
      </div>
      <div class="product-info">
        <h1 class="product-title">
          {% if product.metafields.svg.title != blank %}
            {{ product.metafields.svg.title }}
          {% else %}
            {{ product.title | escape }}
          {% endif %}
        </h1>
      </div>
    </a>
  {% endcomment %}
{%- else -%}
  <div class="card-wrapper product-card-wrapper underline-links-hover">
    <div
      class="
        card card--{{ settings.card_style }}
        {% if extend_height %} card--extend-height{% endif %}
        {% if settings.card_style == 'card' %} color-{{ settings.card_color_scheme }} gradient{% endif %}
      "
      style="--ratio-percent: 100%;"
    >
      <div
        class="card__inner{% if settings.card_style == 'standard' %} color-{{ settings.card_color_scheme }} gradient{% endif %} ratio"
        style="--ratio-percent: 100%;"
      >
        <div class="card__media">
          <div class="media media--transparent">
            {%- if placeholder_image -%}
              {{ placeholder_image | placeholder_svg_tag: 'placeholder-svg' }}
            {%- else -%}
              {{ 'product-apparel-2' | placeholder_svg_tag: 'placeholder-svg' }}
            {% endif %}
          </div>
        </div>
      </div>
      <div class="card__content">
        <div class="card__information">
          <h3 class="card__heading card__heading--placeholder{% if settings.card_style == 'standard' %} h5{% endif %}">
            <a role="link" aria-disabled="true" class="full-unstyled-link">
              {{ 'onboarding.product_title' | t }}
            </a>
          </h3>
          <div class="card-information">
            {%- if show_vendor -%}
              <span class="visually-hidden">{{ 'accessibility.vendor' | t }}</span>
              <div class="caption-with-letter-spacing light">{{ 'products.product.vendor' | t }}</div>
            {%- endif -%}
            {% render 'price', show_compare_at_price: true %}
          </div>
        </div>
      </div>
    </div>
  </div>
{%- endif -%}
