{% comment %}
  Renders a product card

  Accepts:
  - product: {Object} Product Liquid object (optional)
  - media_aspect_ratio: {String} Size of the product image card. Values are "square" and "portrait". Default is "square" (optional)
  - image_shape: {String} Image mask to apply to the product image card. Values are "arch", "blob", "chevronleft", "chevronright", "diamond", "parallelogram", and "round". (optional)
  - show_secondary_image: {Boolean} Show the secondary image on hover. Default: false (optional)
  - show_vendor: {Boolean} Show the product vendor. Default: false
  - show_rating: {Boolean} Show the product rating. Default: false
  - extend_height: {Boolean} Card height extends to available container space. Default: true (optional)
  - lazy_load: {Boolean} Image should be lazy loaded. Default: true (optional)
  - show_quick_add: {Boolean} Show the quick add button.
  - section_id: {String} The ID of the section that contains this card.
  - horizontal_class: {Boolean} Add a card--horizontal class if set to true. Default: false (optional)
  - horizontal_quick_add: {Boolean} Changes the quick add button styles when set to true. Default: false (optional)
  - placeholder_image: {String} The placeholder image to use when no product exists. Default: 'product-apparel-2' (optional)

  Usage:
  {% render 'card-product-adv', show_vendor: section.settings.show_vendor %}
{% endcomment %}

{{ 'component-rating.css' | asset_url | stylesheet_tag }}
{{ 'component-volume-pricing.css' | asset_url | stylesheet_tag }}

{%- if product and product != empty -%}
  {%- liquid
    assign ratio = 1
    if product.featured_media and media_aspect_ratio == 'portrait'
      assign ratio = 0.8
    elsif product.featured_media and media_aspect_ratio == 'adapt'
      assign ratio = product.featured_media.aspect_ratio
    endif
    if ratio == 0 or ratio == null
      assign ratio = 1
    endif
  -%}
  <div class="product-card-adv">
    <div class="product-card-adv-image">
      <img
        srcset="
          {%- if product.featured_media.width >= 165 -%}{{ product.featured_media | image_url: width: 165 }} 165w,{%- endif -%}
          {%- if product.featured_media.width >= 360 -%}{{ product.featured_media | image_url: width: 360 }} 360w,{%- endif -%}
          {%- if product.featured_media.width >= 533 -%}{{ product.featured_media | image_url: width: 533 }} 533w,{%- endif -%}
          {%- if product.featured_media.width >= 720 -%}{{ product.featured_media | image_url: width: 720 }} 720w,{%- endif -%}
          {%- if product.featured_media.width >= 940 -%}{{ product.featured_media | image_url: width: 940 }} 940w,{%- endif -%}
          {%- if product.featured_media.width >= 1066 -%}{{ product.featured_media | image_url: width: 1066 }} 1066w,{%- endif -%}
          {{ product.featured_media | image_url }} {{ product.featured_media.width }}w
        "
        src="{{ product.featured_media | image_url: width: 533 }}"
        sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
        alt="{{ product.featured_media.alt | escape }}"
        class="motion-reduce"
        {% unless lazy_load == false %}
          loading="lazy"
        {% endunless %}
        width="{{ product.featured_media.width }}"
        height="{{ product.featured_media.height }}"
      >
    </div>
    <div class="product-card-adv-info">
      <div class="product-card-adv-title-container">
        <h1 class="product-card-adv-title">
          {% if product.metafields.svg.title != blank %}
            {{ product.metafields.svg.title }}
          {% else %}
            {{ product.title | escape }}
          {% endif %}
        </h1>
      </div>
      {%- if show_vendor -%}
        <div class="product-card-adv-vendor">
          <span class="visually-hidden">{{ 'accessibility.vendor' | t }}</span>
          <div class="caption-with-letter-spacing light">{{ product.vendor }}</div>
        </div>
      {%- endif -%}
      {%- if show_rating -%}
        <div
          class="AirReviews-Widget AirReviews-Widget--Stars"
          style="margin-top:0.7rem"
          data-review-avg="{{ product.metafields.air_reviews_product.review_avg }}"
          data-review-count="{{ product.metafields.air_reviews_product.review_count }}"
        ></div>
      {% endif %}
      {% render 'price', product: card_product, price_class: '', show_compare_at_price: true %}
      {%- if card_product.quantity_price_breaks_configured? -%}
        <div class="card__information-volume-pricing-note">
          <span class="caption">{{ 'products.product.volume_pricing.note' | t }}</span>
        </div>
      {%- endif -%}
    </div>
  </div>

  {% comment %}
    <a class="card" href="{{ product.url }}">
      <div class="product-image">
        <img
          srcset="
            {%- if product.featured_media.width >= 165 -%}{{ product.featured_media | image_url: width: 165 }} 165w,{%- endif -%}
            {%- if product.featured_media.width >= 360 -%}{{ product.featured_media | image_url: width: 360 }} 360w,{%- endif -%}
            {%- if product.featured_media.width >= 533 -%}{{ product.featured_media | image_url: width: 533 }} 533w,{%- endif -%}
            {%- if product.featured_media.width >= 720 -%}{{ product.featured_media | image_url: width: 720 }} 720w,{%- endif -%}
            {%- if product.featured_media.width >= 940 -%}{{ product.featured_media | image_url: width: 940 }} 940w,{%- endif -%}
            {%- if product.featured_media.width >= 1066 -%}{{ product.featured_media | image_url: width: 1066 }} 1066w,{%- endif -%}
            {{ product.featured_media | image_url }} {{ product.featured_media.width }}w
          "
          src="{{ product.featured_media | image_url: width: 533 }}"
          sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
          alt="{{ product.featured_media.alt | escape }}"
          class="motion-reduce"
          {% unless lazy_load == false %}
            loading="lazy"
          {% endunless %}
          width="{{ product.featured_media.width }}"
          height="{{ product.featured_media.height }}"
        >
      </div>
      <div class="product-info">
        <h1 class="product-title">
          {% if product.metafields.svg.title != blank %}
            {{ product.metafields.svg.title }}
          {% else %}
            {{ product.title | escape }}
          {% endif %}
        </h1>
      </div>
    </a>
  {% endcomment %}
{%- else -%}
  <div class="card-wrapper product-card-wrapper underline-links-hover">
    <div
      class="
        card card--{{ settings.card_style }}
        {% if extend_height %} card--extend-height{% endif %}
        {% if settings.card_style == 'card' %} color-{{ settings.card_color_scheme }} gradient{% endif %}
      "
      style="--ratio-percent: 100%;"
    >
      <div
        class="card__inner{% if settings.card_style == 'standard' %} color-{{ settings.card_color_scheme }} gradient{% endif %} ratio"
        style="--ratio-percent: 100%;"
      >
        <div class="card__media">
          <div class="media media--transparent">
            {%- if placeholder_image -%}
              {{ placeholder_image | placeholder_svg_tag: 'placeholder-svg' }}
            {%- else -%}
              {{ 'product-apparel-2' | placeholder_svg_tag: 'placeholder-svg' }}
            {% endif %}
          </div>
        </div>
      </div>
      <div class="card__content">
        <div class="card__information">
          <h3 class="card__heading card__heading--placeholder{% if settings.card_style == 'standard' %} h5{% endif %}">
            <a role="link" aria-disabled="true" class="full-unstyled-link">
              {{ 'onboarding.product_title' | t }}
            </a>
          </h3>
          <div class="card-information">
            {%- if show_vendor -%}
              <span class="visually-hidden">{{ 'accessibility.vendor' | t }}</span>
              <div class="caption-with-letter-spacing light">{{ 'products.product.vendor' | t }}</div>
            {%- endif -%}
            {% render 'price', show_compare_at_price: true %}
            {% render 'price-adv', show_compare_at_price: true %}
          </div>
        </div>
      </div>
    </div>
  </div>
{%- endif -%}
