{% comment %}
  Renders a product media gallery. Should be used with 'media-gallery.js'
  Also see 'product-media-modal'

  Accepts:
  - product: {Object} Product liquid object
  - variant_images: {Array} Product images associated with a variant
  - is_duplicate: {Boolean} Prevents rendering uneeded elements and duplicate ids for subsequent instances

  Usage:
  {% render 'product-media-gallery-ext', is_duplicate: true %}
{% endcomment %}
{{ 'sweetalert2.all.min.js' | asset_url | script_tag }}

{%- liquid
  if section.settings.hide_variants and variant_images.size == product.media.size
    assign single_media_visible = true
  endif

  assign media_count = product.media.size
  if section.settings.hide_variants and media_count > 1 and variant_images.size > 0
    assign media_count = media_count | minus: variant_images.size | plus: 1
  endif

  if media_count == 1 or single_media_visible
    assign single_media_visible_mobile = true
  endif

  if media_count == 0 or single_media_visible_mobile or section.settings.mobile_thumbnails == 'show' or section.settings.mobile_thumbnails == 'columns' and media_count < 3
    assign hide_mobile_slider = true
  endif

  if section.settings.media_size == 'large'
    assign media_width = 0.65
  elsif section.settings.media_size == 'medium'
    assign media_width = 0.55
  elsif section.settings.media_size == 'small'
    assign media_width = 0.45
  endif

  assign id_append = ''
  if is_duplicate
    assign id_append = '-duplicate'
  endif
-%}
<style>
  .media-gallery .slick-next:before,
  .media-gallery .slick-prev:before {
    color: #00000050;
  }

  .media-gallery .slick-next {
    right: 0;
  }
  .media-gallery .slick-prev {
    left: 0;
  }

  .media-gallery:not(.slick-initialized) {
    visibility: hidden;
  }
  .media-gallery .media-item {
    height: 420px;
    max-height: 420px;
  }
  .media-gallery-thumbs .media-thumb {
    width: 100px;
    height: 100px;
    padding: 4px;
    cursor: pointer;
  }
  .media-gallery-thumbs .media-thumb.slick-active {
    background: #00000025;
    border: 1px solid #00000050;
    border-radius: 8px;
  }
  .media-gallery-thumbs .media-thumb:not(.slick-active) {
    filter: grayscale(0.5);
  }
  @media screen and (max-width: 749px) {
    .media-gallery .media-item {
      height: 320px;
      max-height: 320px;
    }
    .media-gallery-thumbs .media-thumb {
      width: 64px;
      height: 64px;
    }
  }
</style>
<media-gallery-ext
  id="MediaGallery-{{ section.id }}{{ id_append }}"
  role="region"
  {% if section.settings.enable_sticky_info %}
    class="product__column-sticky"
  {% endif %}
  aria-label="{{ 'products.product.media.gallery_viewer' | t }}"
  data-desktop-layout="{{ section.settings.gallery_layout }}"
>
  <div class="media-gallery">
    <div class="media-item">
      {{
        product.featured_media
        | image_url: height: '420px'
        | image_tag:
          loading: 'lazy',
          width: '100%',
          height: '100%',
          sizes: sizes,
          widths: widths,
          style: 'object-fit: contain;'
      }}
    </div>
    {% for media in product.media %}
      {% unless media.id == product.selected_or_first_available_variant.featured_media.id %}
        <div class="media-item">
          {% if media.media_type == 'video' %}
            {{
              media
              | video_tag:
                loop: true,
                width: '100%',
                height: '100%',
                style: 'object-fit: contain;',
                playsinline: true,
                autoplay: true,
                muted: true
            }}
          {%- else -%}
            {%- liquid
              assign sizes = '100vw'
              assign widths = '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
            -%}
            {{
              media
              | image_url: height: '420px'
              | image_tag:
              loading: 'lazy',
              width: '100%',
              height: '100%',
              sizes: sizes,
              widths: widths,
              style: 'object-fit: contain;',
              bigMedia:{{media | image_url: height: '420px'
            -}}
            , }}
          {%- endif -%}
        </div>
      {% endunless %}
    {% endfor %}
  </div>
  <hr style="margin:8px">
  <div class="media-gallery-thumbs">
    <div class="media-thumb">
      {{
        product.featured_media
        | image_url: height: '120px'
        | image_tag:
          loading: 'lazy',
          width: '100%',
          height: '100%',
          sizes: sizes,
          widths: widths,
          style: 'object-fit: contain;'
      }}
    </div>
    {% for media in product.media %}
      {% unless media.id == product.selected_or_first_available_variant.featured_media.id %}
        <div class="media-thumb">
          {% if media.media_type == 'video' %}
            {%- liquid
              assign sizes = '100vw'
              assign widths = '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
            -%}
            {{
              media
              | image_url: height: '120px'
              | image_tag:
                loading: 'lazy',
                width: '100%',
                height: '100%',
                sizes: sizes,
                widths: widths,
                style: 'object-fit: contain;'
            }}
          {%- else -%}
            {%- liquid
              assign sizes = '100vw'
              assign widths = '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
            -%}
            {{
              media
              | image_url: height: '420px'
              | image_tag:
                loading: 'lazy',
                width: '100%',
                height: '100%',
                sizes: sizes,
                widths: widths,
                style: 'object-fit: contain;'
            }}
          {%- endif -%}
        </div>
      {% endunless %}
    {% endfor %}
  </div>
</media-gallery-ext>
