{% # theme-check-disable ParserBlockingScriptTag %}

{{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}
{{ 'component-deferred-media.css' | asset_url | stylesheet_tag }}

{{ 'component-product-card-ext.css' | asset_url | stylesheet_tag }}

{{ 'template-collection.css' | asset_url | stylesheet_tag }}
{{ 'section-main-product.css' | asset_url | stylesheet_tag }}

{{ 'slick.min.css' | asset_url | stylesheet_tag }}
{{ 'slick-theme.min.css' | asset_url | stylesheet_tag }}
{% comment %}
  {{ 'aos.css' | asset_url | stylesheet_tag }}
{% endcomment %}
{{ 'jquery.min.js' | asset_url | script_tag }}
{{ 'slick.min.js' | asset_url | script_tag }}
{{ 'anime.min.js' | asset_url | script_tag }}
{% comment %}
  {{ 'aos.js' | asset_url | script_tag }}
{% endcomment %}
{% if section.settings.image_shape == 'blob' %}
  {{ 'mask-blobs.css' | asset_url | stylesheet_tag }}
{%- endif -%}

{%- if section.settings.quick_add != 'off' -%}
  {{ 'quick-add.css' | asset_url | stylesheet_tag }}
  <script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}
{{ 'component-slider.css' | asset_url | stylesheet_tag }}
{{ 'component-slideshow.css' | asset_url | stylesheet_tag }}
{{ 'collection-slideshow.css' | asset_url | stylesheet_tag }}

{%- liquid
  assign product = section.settings.collection.products | first
  assign productVideo = product.media | where: 'media_type', 'video' | first
  assign sizes = '100vw'
  assign widths = '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
-%}
<style>
  .full-page {
    display: flex;
    height: calc(100vh - var(--header-height));
    width: 100vw;
  }
</style>
<style>
  collection-slideshow {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    height: 100%;
  }
  collection-slideshow video {
    position: absolute;
  }
  collection-slideshow .collection-title {
    display: flex;
    position: relative;
    align-items: center;
    padding: 16px;
  }
  collection-slideshow .collection-title svg {
    height: 32px;
    width: unset;
  }
  collection-slideshow .collection-title h1 {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-top: 0;
    margin-bottom: 0;
  }
  collection-slideshow .collection-title hr {
    flex: 1;
    height: 4px;
    margin: 0;
    background-color: #462a4e;
  }
</style>
<collection-slideshow class="full-page">
  {% if productVideo %}
    {{
      productVideo
      | video_tag:
        loop: true,
        height: '100%',
        width: '100%',
        playsinline: true,
        autoplay: true,
        muted: true,
        style: 'object-fit: cover;'
    }}
  {%- elsif product.featured_media -%}
    {{ product.featured_media | image_url | image_tag: loading: 'lazy', height: '100vh', sizes: sizes, widths: widths }}
  {%- else -%}
    {{ 'hero-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
  {%- endif -%}

  <h1>{{ section.settings.header }}</h1>
  <div class="collection-title" data-aos="svg-draw-fade" data-aos-duration="1200" data-aos-delay="0">
    <hr data-aos="fade-scaleX" data-aos-duration="400" data-aos-delay="1200">
    {% if section.settings.collection.metafields.svg.title != blank %}
      {{ section.settings.collection.metafields.svg.title }}
    {% else %}
      <h1>{{ section.settings.collection.title | escape }}</h1>
    {% endif %}
    <hr data-aos="fade-scaleX" data-aos-duration="400" data-aos-delay="1200">
  </div>
</collection-slideshow>

{% comment %}
  <script src="{{ 'collection-slideshow.js' | asset_url }}" defer="defer"></script>
{% endcomment %}
{%- if request.design_mode -%}
  <script src="{{ 'theme-editor.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{% schema %}
{
  "name": "Collection Slideshow",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "t:sections.featured-collection.settings.collection.label"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "min": 2,
      "max": 25,
      "step": 1,
      "default": 4,
      "label": "t:sections.featured-collection.settings.products_to_show.label"
    },
    {
      "type": "text",
      "id": "header",
      "label": "Header"
    },
    {
      "type": "checkbox",
      "id": "card_buy_option",
      "default": false,
      "label": "Card: Buy Button"
    },
    {
      "type": "select",
      "id": "card_title_option",
      "options": [
        {
          "value": "off",
          "label": "Hide"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        },
        {
          "value": "top",
          "label": "Top"
        }
      ],
      "default": "bottom",
      "label": "Card: Title",
      "info": "Turn off or choose title position"
    },
    {
      "type": "select",
      "id": "card_savings_option",
      "options": [
        {
          "value": "off",
          "label": "Hide"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        },
        {
          "value": "top",
          "label": "Top"
        }
      ],
      "default": "bottom",
      "label": "Card: Savings",
      "info": "Turn off or choose savings position"
    },
    {
      "type": "select",
      "id": "slider_title_option",
      "options": [
        {
          "value": "off",
          "label": "Hide"
        },
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "off",
      "label": "Slider: Title",
      "info": "Turn off or choose slider title position"
    },
    {
      "type": "select",
      "id": "slider_buy_option",
      "options": [
        {
          "value": "off",
          "label": "Hide"
        },
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        },
        {
          "value": "top",
          "label": "Top"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "off",
      "label": "Slider: Buy Option",
      "info": "Turn off or choose slider title position"
    }
  ],
  "presets": [
    {
      "name": "Collection Slideshow"
    }
  ]
}
{% endschema %}
{% comment %}
  {
    "type": "select",
    "id": "quick_add",
    "options": [
      {
        "value": "off",
        "label": "Hide"
      },
      {
        "value": "inside_card",
        "label": "Inside Card"
      },
      {
        "value": "below_description",
        "label": "Below Description"
      }
    ],
    "default": "inside_card",
    "label": "Quick Add",
    "info": "Turn off or choose quick add button position"
  },
  {
    "type": "checkbox",
    "id": "top_title",
    "default": false,
    "label": "Top Title"
  }
{% endcomment %}
