{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'section-collection-list.css' | asset_url | stylesheet_tag }}
<style>
  .collections-lists-slick-slider-container {
    position: relative;
    display: flex;
    padding: 0px 36px;
    border: 1px solid #d2d6db;
    border-radius: 24px;
    flex-direction: column;
    padding-bottom: 16px;
  }

  .collections-lists-slick-slider {
    position: relative;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  .collections-lists-slick-slider:not(.slick-initialized) {
    display: flex;
  }

  .collections-lists-slick-slider.slick-slider {
    display: block;
  }

  .collections-lists-slick-slider .collections-list-item {
    padding: 16px 8px;

  }

  .collections-lists-slick-slider:not(.slick-initialized) .collections-list-item {
    padding: 16px;
    min-width: {{ 100 | divided_by: section.settings.columns_desktop }}%;
    flex: 1 1 {{ 100 | divided_by: section.settings.columns_desktop }}%;
  }

  @media screen and (max-width: 749px) {
    .collections-lists-slick-slider-container {
      position: relative;
      display: flex;
      padding: 16px 16px;
      border: unset;
    }
    .collections-lists-slick-slider:not(.slick-initialized) .collections-list-item {
      padding: 8px;
      min-width: {{ 100 | divided_by: section.settings.columns_mobile }}%;
      flex: 1 1 {{ 100 | divided_by: section.settings.columns_mobile }}%;
    }
    .collections-lists-slick-slider .collections-list-item {
      padding: 8px;
    }
  }
</style>

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}
<div
  class="page-width section-{{ section.id }}-padding gradient color-{{ section.settings.color_scheme }}"
>
  <h1 class="title title--primary inline-richtext{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
    {{ section.settings.title }}
  </h1>
  {% comment %}
    {% for operation in menuItems %}
      {% assign controllerName = operation.Title | split: '_' | first | split: '' %}
      {% assign controllers = controllers | concat: controllerName %}
    {% endfor %}
  {% endcomment %}
  {%- liquid
    assign position = -1
    assign tmpCollections = '' | split: ''

    for collection in collections
      if collection.handle == 'new-arrivals'
        assign position = forloop.index0
      else
        assign newItem = collection | split: ''
        assign tmpCollections = tmpCollections | concat: newItem
      endif
    endfor

    case section.settings.sort
      when 'products_high', 'products_low'
        assign collections = collections | sort: 'all_products_count'
      when 'date', 'date_reversed'
        assign collections = collections | sort: 'published_at'
    endcase

    if section.settings.sort == 'products_high' or section.settings.sort == 'date_reversed' or section.settings.sort == 'alphabetical_reversed'
      assign collections = collections | reverse
    endif

    assign moduloResult = 28 | modulo: section.settings.columns_desktop
    assign paginate_by = 30
    if moduloResult == 0
      assign paginate_by = 28
    endif
  -%}
  <div class="collections-lists-slick-slider-container">
    <div
      class="collections-lists-slick-slider"
      id="collections-lists-slick-{{ section.id }}"
    >
      {%- for collection in collections -%}
        {%- unless collection.handle == 'new-arrivals' %}
          <div
            class="collections-list-item"
          >
            {% render 'card-collection',
              card_collection: collection,
              media_aspect_ratio: section.settings.image_ratio,
              columns: 3
            %}
          </div>
        {%- endunless -%}
      {%- endfor -%}
    </div>
    {%- if section.settings.show_browse_all -%}
      <div class="center collection__view-all{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
        <a
          href="{{ routes.collections_url }}"
          class="button-flat-empty outlined with-arrow"
        >
          Show All Collections
        </a>
      </div>
    {%- endif -%}
  </div>
</div>

<script>
  $('.collections-lists-slick-slider').slick({
    infinite: false,
    centerMode: false,
    slidesToShow:  {{ section.settings.columns_desktop }},
    slidesToScroll: 1,
    variableWidth: false,
    arrows: true,
    focusOnSelect: true,
    dots: true,
    responsive: [
      {
        breakpoint: 749,
        settings: {
          infinite: false,
          centerMode: false,
          slidesToShow:  {{ section.settings.columns_mobile }},
          slidesToScroll: 1,
          variableWidth: false,
          arrows: true,
          focusOnSelect: true,
          dots: true,
        }
      },
    ]
  });
</script>
{% schema %}
{
  "name": "t:sections.collections-slickshow.name",
  "class": "section",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "background-1"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    },
    {
      "type": "checkbox",
      "id": "show_browse_all",
      "default": true,
      "label": "t:sections.collections-slickshow.settings.show_browse_all.label"
    },
    {
      "type": "inline_richtext",
      "id": "title",
      "label": "t:sections.main-list-collections.settings.title.label",
      "default": "Collections"
    },
    {
      "type": "select",
      "id": "sort",
      "options": [
        {
          "value": "alphabetical",
          "label": "t:sections.main-list-collections.settings.sort.options__1.label"
        },
        {
          "value": "alphabetical_reversed",
          "label": "t:sections.main-list-collections.settings.sort.options__2.label"
        },
        {
          "value": "date_reversed",
          "label": "t:sections.main-list-collections.settings.sort.options__3.label"
        },
        {
          "value": "date",
          "label": "t:sections.main-list-collections.settings.sort.options__4.label"
        },
        {
          "value": "products_high",
          "label": "t:sections.main-list-collections.settings.sort.options__5.label"
        },
        {
          "value": "products_low",
          "label": "t:sections.main-list-collections.settings.sort.options__6.label"
        }
      ],
      "default": "alphabetical",
      "label": "t:sections.main-list-collections.settings.sort.label"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.main-list-collections.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.main-list-collections.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.main-list-collections.settings.image_ratio.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.main-list-collections.settings.image_ratio.label",
      "info": "t:sections.main-list-collections.settings.image_ratio.info"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 5,
      "step": 1,
      "default": 3,
      "label": "t:sections.main-list-collections.settings.columns_desktop.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-list-collections.settings.header_mobile.content"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "options": [
        {
          "value": "1",
          "label": "t:sections.main-list-collections.settings.columns_mobile.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.main-list-collections.settings.columns_mobile.options__2.label"
        }
      ],
      "default": "2",
      "label": "t:sections.main-list-collections.settings.columns_mobile.label"
    }
  ],
  "tag": "section",
  "presets": [
    {
      "name": "t:sections.collections-slickshow.name"
    }
  ]
}
{% endschema %}
