{% # theme-check-disable ParserBlockingScriptTag %}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}

{{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}
{{ 'component-deferred-media.css' | asset_url | stylesheet_tag }}

{{ 'template-collection.css' | asset_url | stylesheet_tag }}
{{ '//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css' | stylesheet_tag }}
{{ 'https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css' | stylesheet_tag }}
{{ 'https://unpkg.com/aos@2.3.1/dist/aos.css' | stylesheet_tag }}
{{ 'https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js' | script_tag }}
{{ 'https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js' | script_tag }}
{{ 'https://unpkg.com/aos@2.3.1/dist/aos.js' | script_tag }}
{% if section.settings.image_shape == 'blob' %}
  {{ 'mask-blobs.css' | asset_url | stylesheet_tag }}
{%- endif -%}

{%- if section.settings.quick_add != 'off' -%}
  {{ 'quick-add.css' | asset_url | stylesheet_tag }}
  <script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}
{{ 'component-slider.css' | asset_url | stylesheet_tag }}
{{ 'component-slideshow.css' | asset_url | stylesheet_tag }}

<style>
  .collection-slideshow {
    height: 100vh;
    overflow: hidden;
  }
  .collection-slideshow .slider-for {
  }
  .collection-slideshow .slider-for .slide-full {
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    height: 100vh;
  }

  .collection-slideshow .slider-for:after {
    content: '';
    pointer-events: none;
    display: flex;
    z-index: 0;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0.9;
    background: #20002c;
    background: -webkit-linear-gradient(to right, #cbb4d4, #20002c);
    background: linear-gradient(to bottom, #cbb4d4, #20002c);
  }

  .collection-slideshow .slider-for .slide-full video,
  .collection-slideshow .slider-for .slide-full img {
    width: 100%;
    object-fit: cover;
    animation: move 40s ease;
    /* Add infinite to loop. */

    -ms-animation: move 40s ease;
    -webkit-animation: move 40s ease;
    -0-animation: move 40s ease;
    -moz-animation: move 40s ease;
    position: absolute;
  }

  @-webkit-keyframes move {
    0% {
      -webkit-transform-origin: bottom left;
      -moz-transform-origin: bottom left;
      -ms-transform-origin: bottom left;
      -o-transform-origin: bottom left;
      transform-origin: bottom left;
      transform: scale(1);
      -ms-transform: scale(1);
      /* IE 9 */

      -webkit-transform: scale(1);
      /* Safari and Chrome */

      -o-transform: scale(1);
      /* Opera */

      -moz-transform: scale(1);
      /* Firefox */
    }
    100% {
      transform: scale(1.2);
      -ms-transform: scale(1.2);
      /* IE 9 */

      -webkit-transform: scale(1.2);
      /* Safari and Chrome */

      -o-transform: scale(1.2);
      /* Opera */

      -moz-transform: scale(1.2);
      /* Firefox */
    }
  }

  .collection-slideshow .slider-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    z-index: 1;
    pointer-events: none;
  }
  .collection-slideshow .slider-content .slider-content-card {
    margin: auto;
    text-align: center;
    color: #000;
    width: 100%;
    max-width: 640px;
    background: #e3e1e196;
    /* box-shadow: 1px 1px 8px #0000008f; */
    padding: 16px;
    border: 2px #35353559 solid;
    border-radius: 32px;
    pointer-events: all;
  }
  .collection-slideshow .slider-content .slider-content-card hr {
    margin: 1rem 8px;
  }
  .collection-slideshow .slider-content .slider-content-card .slider-content-header {
    margin: 0;
    font-size: 14px;
    color: gray;
    text-align: left;
  }
  .collection-slideshow .slider-content .slider-content-card .slider-content-title {
    display: flex;
    position: relative;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding: 16px;
    margin-top: 0;
    margin-bottom: 0;
  }
  .collection-slideshow .slider-content .slider-content-card .slider-content-title svg {
    height: 32px;
    width: unset;
  }
  .collection-slideshow .slider-content .slider-content-card .slider-content-title svg path {
    stroke-width: 1px;
  }
  .collection-slideshow .slider-content .slider-content-card .slider-content-description {
    margin: 0;
  }

  .collection-slideshow .slider-content .slider-nav .slider-thumb {
    margin: 8px;
  }
  .collection-slideshow .slider-content .slider-nav .slider-thumb .slider-thumb-title {
    font-size: 12px;
    font-weight: 600;
    margin-top: 8px;
  }

  hr.half-divider {
    flex: 1;
    height: 4px;
    margin: 0;
    background-color: #462a4e;
  }

  [data-aos='svg-draw-fade'] svg path {
    fill-opacity: 0;
    stroke-dasharray: 5000;
    stroke-dashoffset: 5000;
    stroke: #8e8e8e;
  }
  [data-aos='svg-draw-fade'].aos-animate svg path {
    animation: svgDrawFade 1.2s 0.6s cubic-bezier(0.47, 0, 0.75, 0.72) forwards;
  }
  @keyframes svgDrawFade {
    50% {
      fill-opacity: 0;
    }
    100% {
      fill-opacity: 1;
      stroke-dashoffset: 0;
    }
  }
</style>
<style>
  .slider-thumb:not(.slick-current.slick-active) .product-card .product-title,
  .slider-thumb:not(.slick-current.slick-active) .product-card .product-price,
  .slider-thumb:not(.slick-current.slick-active) .product-card .product-buttons {
    opacity: 0;
  }

  .product-card .product-title,
  .product-card .product-price,
  .product-card .product-buttons,
  .product-card .product-content {
    transition: all 1s ease;
  }
  .slider-thumb:not(.slick-current.slick-active) .product-card .product-content {
    filter: grayscale(1);
    transform: scale(0.9);
    opacity: 0.5;
    border-radius: 4px;
    box-shadow: unset;
  }
</style>
<style>
  .slider-info-content {
    display: flex;
    flex-direction: column;
  }
  .slider-info-content .slider-title {
    font-size: 24px;
    text-align: left;
    margin-top: 8px;
    margin-bottom: 0px;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: underline;
    text-decoration-thickness: 0.05mm;
    text-decoration-color: #a8a298;
    text-underline-offset: 8px;
  }
  .slider-info-content .slider-description-text {
    padding: 0;
    text-align: left;
    margin: 0;
    font-size: 14px;
    font-weight: 100;
    color: #616161;
    letter-spacing: 1px;
  }
</style>
{%- if section.settings.slide_height == 'adapt_image'
  and section.settings.collection.products.first.settings.image != blank
-%}
  {%- style -%}
    @media screen and (max-width: 749px) {
      #Slider-{{ section.id }}::before,
      #Slider-{{ section.id }} .media::before,
      #Slider-{{ section.id }}:not(.banner--mobile-bottom) .banner__content::before {
        padding-bottom: {{ 1 | divided_by: section.settings.collection.products.first.settings.image.aspect_ratio | times: 100 }}%;
        content: '';
        display: block;
      }
    }

    @media screen and (min-width: 750px) {
      #Slider-{{ section.id }}::before,
      #Slider-{{ section.id }} .media::before {
        padding-bottom: {{ 1 | divided_by: section.settings.collection.products.first.settings.image.aspect_ratio | times: 100 }}%;
        content: '';
        display: block;
      }
    }
  {%- endstyle -%}
{%- endif -%}
<div class="collection-slideshow">
  <div class="slider-for">
    {%- for product in section.settings.collection.products limit: section.settings.products_to_show -%}
      <div class="slide-full">
        {% assign productVideo = product.media | where: 'media_type', 'video' | first %}
        {% if productVideo %}
          {{ productVideo | video_tag: loop: false, height: '100%', width: '300px', autoplay: true, muted: true }}
        {%- elsif product.featured_media -%}
          {%- liquid
            if section.settings.image_behavior == 'ambient'
              assign sizes = '120vw'
              assign widths = '450, 660, 900, 1320, 1800, 2136, 2400, 3600, 7680'
            else
              assign sizes = '100vw'
              assign widths = '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
            endif
          -%}
          {{
            product.featured_media
            | image_url
            | image_tag: loading: 'lazy', height: '100vh', sizes: sizes, widths: widths
          }}
        {%- else -%}
          {%- assign placeholder_slide = forloop.index | modulo: 2 -%}
          {%- if placeholder_slide == 1 -%}
            {{ 'hero-apparel-2' | placeholder_svg_tag: 'placeholder-svg' }}
          {%- else -%}
            {{ 'hero-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
          {%- endif -%}
        {%- endif -%}
      </div>
    {%- endfor -%}
  </div>

  <div class="slider-content">
    <div class="slider-content-card" data-aos="fade" data-aos-duration="400">
      <h2 class="slider-content-header" data-aos="fade-right" data-aos-delay="400">
        {{ section.settings.header }}
      </h2>
      <h1 class="slider-content-title " data-aos="svg-draw-fade" data-aos-delay="800">
        <hr class="half-divider" data-aos="fade-right" data-aos-duration="400" data-aos-delay="1000">
        {{ section.settings.collection.metafields.svg.title }}
        <hr class="half-divider" data-aos="fade-left" data-aos-duration="400" data-aos-delay="1000">
      </h1>
      <p class="slider-content-description" data-aos="fade-up" data-aos-duration="400" data-aos-delay="1400">
        {{ section.settings.collection.description }}
      </p>
      <div class="slider-nav">
        {%- for product in section.settings.collection.products limit: section.settings.products_to_show -%}
          {%- liquid
            assign quick_add = false
            if section.settings.quick_add == 'inside_card'
              assign quick_add = true
            endif
          -%}
          <div
            data-aos="fade-up"
            data-aos-delay="{{ forloop.index | times: 200 | plus: 1800 }}"
            class="slider-thumb"
          >
            {%
              render 'card-product-ext',
              product: product,
              top_title: section.settings.top_title,
              show_quick_add: quick_add ,
            %}
          </div>
        {%- endfor -%}
      </div>
      <div class="slider-info">
        {%- for product in section.settings.collection.products limit: section.settings.products_to_show -%}
          <div
            class="slider-info-content"
            data-aos="fade-right"
            data-aos-delay="{{ forloop.index | times: 200 | plus: 10000 }}"
          >
            <div
              class="slider-description-text"
            >
              <span>
                {%- if product.metafields.description.short != blank -%}
                  {{ product.metafields.description.short | truncate: 175, '. . . ' }}
                {%- elsif product.description != blank -%}
                  {{ product.description | truncate: 175, '. . . ' }}
                {% endif %}
                {%- if product.description != blank and product.description.size > 175 -%}
                {% endif %}
              </span>
            </div>
            {% if section.settings.quick_add == 'below_description' %}
              <div class="quick-add no-js-hidden">
                {%- liquid
                  assign product_form_id = 'quick-add-' | append: section.id | append: product.id
                  assign qty_rules = false
                  if product.selected_or_first_available_variant.quantity_rule.min > 1 or product.selected_or_first_available_variant.quantity_rule.max != null or product.selected_or_first_available_variant.quantity_rule.increment > 1
                    assign qty_rules = true
                  endif
                -%}
                {%- if product.variants.size > 1 or qty_rules -%}
                  <modal-opener data-modal="#QuickAdd-{{ product.id }}">
                    <button
                      id="{{ product_form_id }}-submit"
                      type="submit"
                      name="add"
                      class="quick-add__submit button button--full-width"
                      aria-haspopup="dialog"
                      aria-labelledby="{{ product_form_id }}-submit title-{{ section.id }}-{{ product.id }}"
                      data-product-url="{{ product.url }}"
                    >
                      {{ 'products.product.buy_now' | t }}

                      <div class="loading-overlay__spinner hidden">
                        <svg
                          aria-hidden="true"
                          focusable="false"
                          class="spinner"
                          viewBox="0 0 66 66"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                        </svg>
                      </div>
                    </button>
                  </modal-opener>
                  <quick-add-modal id="QuickAdd-{{ product.id }}" class="quick-add-modal">
                    <div
                      role="dialog"
                      aria-label="{{ 'products.product.choose_product_options' | t: product_name: product.title | escape }}"
                      aria-modal="true"
                      class="quick-add-modal__content global-settings-popup"
                      tabindex="-1"
                    >
                      <button
                        id="ModalClose-{{ product.id }}"
                        type="button"
                        class="quick-add-modal__toggle"
                        aria-label="{{ 'accessibility.close' | t }}"
                      >
                        {% render 'icon-close' %}
                      </button>
                      <div id="QuickAddInfo-{{ product.id }}" class="quick-add-modal__content-info"></div>
                    </div>
                  </quick-add-modal>
                {%- else -%}
                  <product-form data-section-id="{{ section.id }}">
                    {%- form 'product',
                      product,
                      id: product_form_id,
                      class: 'form',
                      novalidate: 'novalidate',
                      data-type: 'add-to-cart-form'
                    -%}
                      <input
                        type="hidden"
                        name="id"
                        value="{{ product.selected_or_first_available_variant.id }}"
                        class="product-variant-id"
                        disabled
                      >
                      <button
                        id="{{ product_form_id }}-submit"
                        type="submit"
                        name="add"
                        class="quick-add__submit button button--full-width"
                        aria-haspopup="dialog"
                        aria-labelledby="{{ product_form_id }}-submit title-{{ section.id }}-{{ product.id }}"
                        aria-live="polite"
                        data-sold-out-message="true"
                        {% if product.selected_or_first_available_variant.available == false %}
                          disabled
                        {% endif %}
                      >
                        <span>
                          {%- if product.selected_or_first_available_variant.available -%}
                            {{ 'products.product.buy_now' | t }}
                          {%- else -%}
                            {{ 'products.product.sold_out' | t }}
                          {%- endif -%}
                        </span>
                        <span class="sold-out-message hidden">
                          {{ 'products.product.sold_out' | t }}
                        </span>
                        <div class="loading-overlay__spinner hidden">
                          <svg
                            aria-hidden="true"
                            focusable="false"
                            class="spinner"
                            viewBox="0 0 66 66"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                          </svg>
                        </div>
                      </button>
                    {%- endform -%}
                  </product-form>
                {%- endif -%}
              </div>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  {%- for product in section.settings.collection.products limit: section.settings.products_to_show -%}
    <modal-dialog id="PopupModal-{{ product.id }}" class="product-popup-modal">
      <div
        role="dialog"
        aria-label="{{ product.title }}"
        aria-modal="true"
        class="product-popup-modal__content"
        tabindex="-1"
      >
        <button
          id="ModalClose-{{ product.id }}"
          type="button"
          class="product-popup-modal__toggle"
          aria-label="{{ 'accessibility.close' | t }}"
        >
          {% render 'icon-close' %}
        </button>
        <div class="product-popup-modal__content-info">
          <h1 class="h2">{{ product.title }}</h1>
        </div>
      </div>
    </modal-dialog>
  {% endfor %}
</div>
<script>
    initSlick();
    AOS.init();
    function initSlick(){
      $('.slider-for').slick({
        slidesToShow: 1,
        slidesToScroll: 1,
        asNavFor: '.slider-nav',
        fade: true,
      });
      $('.slider-nav').slick({
        slidesToShow: 2,
        slidesToScroll: 1,
        infinite: true,
        variableWidth: true,
        centerMode: true,
        asNavFor: '.slider-for , .slider-info',
      });
      $('.slider-info').slick({
        arrows: false,
        fade: true,
        asNavFor: '.slider-nav',
      });
    }
    if (Shopify.designMode) {
      document.addEventListener('shopify:section:load', init);
      document.addEventListener('shopify:section:reorder', init); //
    }

    function init() {
    AOS.refresh();
  setTimeout(initSlick, 1000);

    {% comment %}
    $('.slider-for').slick('refresh');
      $('.slider-info').slick('refresh'); {% endcomment %}

     {% comment %}  $('.slider-nav').slick({
        slidesToShow: 2,
        slidesToScroll: 1,
        infinite: true,
        variableWidth: true,
        centerMode: true,
        asNavFor: '.slider-for , .slider-info',
      }); {% endcomment %}
    }
</script>
{%- if request.design_mode -%}
  <script src="{{ 'theme-editor.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{% schema %}
{
  "name": "Collection Slideshow",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "t:sections.featured-collection.settings.collection.label"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "min": 2,
      "max": 25,
      "step": 1,
      "default": 4,
      "label": "t:sections.featured-collection.settings.products_to_show.label"
    },
    {
      "type": "text",
      "id": "header",
      "label": "Header"
    },
    {
      "type": "select",
      "id": "quick_add",
      "options": [
        {
          "value": "off",
          "label": "Hide"
        },
        {
          "value": "inside_card",
          "label": "Inside Card"
        },
        {
          "value": "below_description",
          "label": "Below Description"
        }
      ],
      "default": "inside_card",
      "label": "Quick Add",
      "info": "Turn off or choose quick add button position"
    },
    {
      "type": "checkbox",
      "id": "top_title",
      "default": false,
      "label": "Top Title"
    }
  ],
  "presets": [
    {
      "name": "Collection Slideshow"
    }
  ]
}
{% endschema %}
