{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}

{{ 'template-collection.css' | asset_url | stylesheet_tag }}
{{ 'https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css' | stylesheet_tag }}
{{ 'https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css' | stylesheet_tag }}
{{ 'https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js' | script_tag }}
{{ 'https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js' | script_tag }}

{% if section.settings.image_shape == 'blob' %}
  {{ 'mask-blobs.css' | asset_url | stylesheet_tag }}
{%- endif -%}

{%- if section.settings.enable_quick_add -%}
  {{ 'quick-add.css' | asset_url | stylesheet_tag }}
  <script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}
{{ 'component-slider.css' | asset_url | stylesheet_tag }}
{{ 'component-slideshow.css' | asset_url | stylesheet_tag }}

<style>
  .collection-slideshow {
    height: 100vh;
    overflow: hidden;
  }
  .collection-slideshow .slider-for {
  }
  .collection-slideshow .slider-for .slide-full {
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    height: 100vh;
  }

  .collection-slideshow .slider-for:after {
    content: '';
    pointer-events: none;
    display: flex;
    z-index: 0;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    background: #ffefba;
    background: -webkit-linear-gradient(to right, #ffffff, #ffefba);
    background: linear-gradient(to right, #ffffff, #ffefba);
    bottom: 0;
    opacity: 0.8;
  }

  .collection-slideshow .slider-for .slide-full video,
  .collection-slideshow .slider-for .slide-full img {
    width: 100%;
    object-fit: cover;
    animation: move 40s ease;
    /* Add infinite to loop. */

    -ms-animation: move 40s ease;
    -webkit-animation: move 40s ease;
    -0-animation: move 40s ease;
    -moz-animation: move 40s ease;
    position: absolute;
  }

  @-webkit-keyframes move {
    0% {
      -webkit-transform-origin: bottom left;
      -moz-transform-origin: bottom left;
      -ms-transform-origin: bottom left;
      -o-transform-origin: bottom left;
      transform-origin: bottom left;
      transform: scale(1);
      -ms-transform: scale(1);
      /* IE 9 */

      -webkit-transform: scale(1);
      /* Safari and Chrome */

      -o-transform: scale(1);
      /* Opera */

      -moz-transform: scale(1);
      /* Firefox */
    }
    100% {
      transform: scale(1.2);
      -ms-transform: scale(1.2);
      /* IE 9 */

      -webkit-transform: scale(1.2);
      /* Safari and Chrome */

      -o-transform: scale(1.2);
      /* Opera */

      -moz-transform: scale(1.2);
      /* Firefox */
    }
  }

  .collection-slideshow .slider-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    z-index: 1;
    pointer-events: none;
  }
  .collection-slideshow .slider-content .slider-content-card {
    margin: auto;
    text-align: center;
    color: #000;
    width: 100%;
    max-width: 600px;
    background: #e3e1e196;
    /* box-shadow: 1px 1px 8px #0000008f; */
    padding: 16px;
    border: 2px #35353559 solid;
    border-radius: 32px;
    pointer-events: all;
  }
  .collection-slideshow .slider-content .slider-content-card hr {
    margin: 1rem 0;
  }
  .collection-slideshow .slider-content .slider-content-card .slider-content-header {
    margin: 0;
    font-size: 14px;
    color: gray;
    text-align: left;
  }
  .collection-slideshow .slider-content .slider-content-card .slider-content-title {
    display: flex;
    position: relative;
    margin: 0;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }
  .collection-slideshow .slider-content .slider-content-card .slider-content-description {
  }

  .collection-slideshow .slider-content .slider-nav .slider-thumb {
  }
  .collection-slideshow .slider-content .slider-nav .slider-thumb .slider-thumb-title {
    font-size: 12px;
    font-weight: 600;
    margin-top: 8px;
  }

  hr.half-divider {
    flex: 1;
    height: 2px;
    margin: 0;
    background-color: #e6d4a9;
  }
</style>
{%- if section.settings.slide_height == 'adapt_image'
  and section.settings.collection.products.first.settings.image != blank
-%}
  {%- style -%}
    @media screen and (max-width: 749px) {
      #Slider-{{ section.id }}::before,
      #Slider-{{ section.id }} .media::before,
      #Slider-{{ section.id }}:not(.banner--mobile-bottom) .banner__content::before {
        padding-bottom: {{ 1 | divided_by: section.settings.collection.products.first.settings.image.aspect_ratio | times: 100 }}%;
        content: '';
        display: block;
      }
    }

    @media screen and (min-width: 750px) {
      #Slider-{{ section.id }}::before,
      #Slider-{{ section.id }} .media::before {
        padding-bottom: {{ 1 | divided_by: section.settings.collection.products.first.settings.image.aspect_ratio | times: 100 }}%;
        content: '';
        display: block;
      }
    }
  {%- endstyle -%}
{%- endif -%}

{%- liquid
  assign products_to_display = section.settings.collection.all_products_count

  if section.settings.collection.all_products_count > section.settings.products_to_show
    assign products_to_display = section.settings.products_to_show
    assign more_in_collection = true
  endif

  assign columns_mobile_int = section.settings.columns_mobile | plus: 0
  assign show_mobile_slider = false
  if section.settings.swipe_on_mobile and products_to_display > columns_mobile_int
    assign show_mobile_slider = true
  endif
-%}
{% comment %}
  <slideshow-component
    class="slider-mobile-gutter{% if section.settings.layout == 'grid' %} page-width{% endif %}{% if section.settings.show_text_below %} mobile-text-below{% endif %}"
    role="region"
    aria-roledescription="{{ 'sections.slideshow.carousel' | t }}"
    aria-label="{{ section.settings.accessibility_info | escape }}"
  >
    {%- if section.settings.auto_rotate and section.settings.collection.products.size > 1 -%}
      <div class="slideshow__controls {% if section.settings.fixed_slider_visual %} slider-counter-fixed{% endif %}  slideshow__controls--top slider-buttons no-js-hidden{% if section.settings.show_text_below %} slideshow__controls--border-radius-mobile{% endif %}">
        <button
          type="button"
          class="slider-button slider-button--prev"
          name="previous"
          aria-label="{{ 'sections.slideshow.previous_slideshow' | t }}"
          aria-controls="Slider-{{ section.id }}"
        >
          {% render 'icon-caret' %}
        </button>
        <div class="slider-counter slider-counter--{{ section.settings.slider_visual }}{% if section.settings.slider_visual == 'counter' or section.settings.slider_visual == 'numbers' %} caption{% endif %}">
          {%- if section.settings.slider_visual == 'counter' -%}
            <span class="slider-counter--current">1</span>
            <span aria-hidden="true"> / </span>
            <span class="visually-hidden">{{ 'general.slider.of' | t }}</span>
            <span class="slider-counter--total">{{ section.settings.collection.products.size }}</span>
          {%- else -%}
            <div class="slideshow__control-wrapper">
              {{ section.settings.collection }}
              {%- for product in section.settings.collection.products -%}
                <button
                  class="slider-counter__link slider-counter__link--{{ section.settings.slider_visual }} link"
                  aria-label="{{ 'sections.slideshow.load_slide' | t }} {{ forloop.index }} {{ 'general.slider.of' | t }} {{ forloop.length }}"
                  aria-controls="Slider-{{ section.id }}"
                >
                  {%- if section.settings.slider_visual == 'numbers' -%}
                    {{ forloop.index -}}
                  {%- else -%}
                    <span class="dot"></span>
                  {%- endif -%}
                </button>
              {%- endfor -%}
            </div>
          {%- endif -%}
        </div>
        <button
          type="button"
          class="slider-button slider-button--next"
          name="next"
          aria-label="{{ 'sections.slideshow.next_slideshow' | t }}"
          aria-controls="Slider-{{ section.id }}"
        >
          {% render 'icon-caret' %}
        </button>

        {%- if section.settings.auto_rotate -%}
          <button
            type="button"
            class="slideshow__autoplay slider-button no-js-hidden{% if section.settings.auto_rotate == false %} slideshow__autoplay--paused{% endif %}"
            aria-label="{{ 'sections.slideshow.pause_slideshow' | t }}"
          >
            {%- render 'icon-pause' -%}
            {%- render 'icon-play' -%}
          </button>
        {%- endif -%}
      </div>
      <noscript>
        <div class="slider-buttons">
          <div class="slider-counter">
            {%- for block in section.settings.collection.products limit: section.settings.products_to_show -%}
              <a
                href="#Slide-{{ section.id }}-{{ forloop.index }}"
                class="slider-counter__link link"
                aria-label="{{ 'sections.slideshow.load_slide' | t }} {{ forloop.index }} {{ 'general.slider.of' | t }} {{ forloop.length }}"
              >
                {{ forloop.index }}
              </a>
            {%- endfor -%}
          </div>
        </div>
      </noscript>
    {%- endif -%}

    <div
      class="slideshow slideshow-products banner banner--{{ section.settings.slide_height }} grid grid--1-col slider slider--everywhere{% if section.settings.show_text_below %} banner--mobile-bottom{% endif %}{% if section.settings.collection.products.first.settings.image == blank %} slideshow--placeholder{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}"
      id="Slider-{{ section.id }}"
      aria-live="polite"
      aria-atomic="true"
      data-autoplay="{{ section.settings.auto_rotate }}"
      data-speed="{{ section.settings.change_slides_speed }}"
    >
      {%- for product in section.settings.collection.products limit: section.settings.products_to_show -%}
        <style>
          #Slide-{{ section.id }}-{{ forloop.index }} .banner__media::after {
          }
        </style>
        <div
          class="slideshow__slide grid__item grid--1-col slider__slide"
          id="Slide-{{ section.id }}-{{ forloop.index }}"
          {{ product.shopify_attributes }}
          role="group"
          aria-roledescription="{{ 'sections.slideshow.slide' | t }}"
          aria-label="{{ forloop.index }} {{ 'general.slider.of' | t }} {{ forloop.length }}"
          tabindex="-1"
        >
          {% comment %}
            <div class="slideshow__media banner__media_blur banner__media media{% if product.featured_media == blank %} placeholder{% endif %}{% if section.settings.image_behavior != 'none' %} animate--{{ section.settings.image_behavior }}{% endif %}">
              {% assign productVideo = product.media | where: 'media_type', 'video' | first %}
              {% if productVideo %}
                {{ productVideo | video_tag: loop: true, autoplay: true, muted: true }}
              {%- elsif product.featured_media -%}
                {%- liquid
                  assign height = product.featured_media.width | divided_by: product.featured_media.aspect_ratio | round
                  if section.settings.image_behavior == 'ambient'
                    assign sizes = '120vw'
                    assign widths = '450, 660, 900, 1320, 1800, 2136, 2400, 3600, 7680'
                  else
                    assign sizes = '100vw'
                    assign widths = '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
                  endif
                -%}
                {{
                  product.featured_media
                  | image_url
                  | image_tag: loading: 'lazy', height: height, sizes: sizes, widths: widths
                }}
              {%- else -%}
                {%- assign placeholder_slide = forloop.index | modulo: 2 -%}
                {%- if placeholder_slide == 1 -%}
                  {{ 'hero-apparel-2' | placeholder_svg_tag: 'placeholder-svg' }}
                {%- else -%}
                  {{ 'hero-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
                {%- endif -%}
              {%- endif -%}
            </div>
          {% endcomment %}
          <div class="slideshow__text-wrapper banner__content banner__content--{{  section.settings.box_align }} page-width{% if  section.settings.show_text_box == false %} banner--desktop-transparent{% endif %}{% if  section.settings.animations_reveal_on_scroll and forloop.index == 1 %} scroll-trigger animate--slide-in{% endif %}">
            <div class="slideshow__text banner__box content-container content-container--full-width-mobile color-{{  section.settings.color_scheme }} gradient slideshow__text--{{  section.settings.text_alignment }} slideshow__text-mobile--{{  section.settings.text_alignment_mobile }}">
              {% comment %}
                {% render 'slide-product',
                  slide_product: product,
                  media_aspect_ratio: section.settings.image_ratio,
                  image_shape: section.settings.image_shape,
                  show_secondary_image: section.settings.show_secondary_image,
                  show_vendor: section.settings.show_vendor,
                  show_rating: section.settings.show_rating,
                  show_quick_add: section.settings.enable_quick_add,
                  section_id: section.id
                %}
              {% endcomment %}
            </div>
          </div>
        </div>
      {%- endfor -%}
    </div>

    {%- if section.settings.collection.products.size > 1 and section.settings.auto_rotate == false -%}
      <div class="slideshow__controls {% if section.settings.fixed_slider_visual %} slider-counter-fixed{% endif %} slider-buttons no-js-hidden{% if section.settings.show_text_below %} slideshow__controls--border-radius-mobile{% endif %}">
        <button
          type="button"
          class="slider-button slider-button--prev"
          name="previous"
          aria-label="{{ 'sections.slideshow.previous_slideshow' | t }}"
          aria-controls="Slider-{{ section.id }}"
        >
          {% render 'icon-caret' %}
        </button>
        <div class="slider-counter slider-counter--{{ section.settings.slider_visual }}{% if section.settings.slider_visual == 'counter' or section.settings.slider_visual == 'numbers' %} caption{% endif %}">
          {%- if section.settings.slider_visual == 'counter' -%}
            <span class="slider-counter--current">1</span>
            <span aria-hidden="true"> / </span>
            <span class="visually-hidden">{{ 'general.slider.of' | t }}</span>
            <span class="slider-counter--total">{{ section.settings.collection.products.size }}</span>
          {%- else -%}
            <div class="slideshow__control-wrapper">
              {%- for block in section.settings.collection.products limit: section.settings.products_to_show -%}
                <button
                  class="slider-counter__link slider-counter__link--{{ section.settings.slider_visual }} link"
                  aria-label="{{ 'sections.slideshow.load_slide' | t }} {{ forloop.index }} {{ 'general.slider.of' | t }} {{ forloop.length }}"
                  aria-controls="Slider-{{ section.id }}"
                >
                  {%- if section.settings.slider_visual == 'numbers' -%}
                    {{ forloop.index -}}
                  {%- else -%}
                    <span class="dot"></span>
                  {%- endif -%}
                </button>
              {%- endfor -%}
            </div>
          {%- endif -%}
        </div>
        <button
          type="button"
          class="slider-button slider-button--next"
          name="next"
          aria-label="{{ 'sections.slideshow.next_slideshow' | t }}"
          aria-controls="Slider-{{ section.id }}"
        >
          {% render 'icon-caret' %}
        </button>
      </div>
      <noscript>
        <div class="slider-buttons">
          <div class="slider-counter">
            {%- for block in section.settings.collection.products limit: section.settings.products_to_show -%}
              <a
                href="#Slide-{{ section.id }}-{{ forloop.index }}"
                class="slider-counter__link link"
                aria-label="{{ 'sections.slideshow.load_slide' | t }} {{ forloop.index }} {{ 'general.slider.of' | t }} {{ forloop.length }}"
              >
                {{ forloop.index }}
              </a>
            {%- endfor -%}
          </div>
        </div>
      </noscript>
    {%- endif -%}
  </slideshow-component>
{% endcomment %}

<div class="collection-slideshow">
  <div class="slider-for">
    {%- for product in section.settings.collection.products limit: section.settings.products_to_show -%}
      <div class="slide-full">
        {% assign productVideo = product.media | where: 'media_type', 'video' | first %}
        {% if productVideo %}
          {{ productVideo | video_tag: loop: false, height: '100%', width: '300px', autoplay: true, muted: true }}
        {%- elsif product.featured_media -%}
          {%- liquid
            assign height = product.featured_media.width | divided_by: product.featured_media.aspect_ratio | round
            if section.settings.image_behavior == 'ambient'
              assign sizes = '120vw'
              assign widths = '450, 660, 900, 1320, 1800, 2136, 2400, 3600, 7680'
            else
              assign sizes = '100vw'
              assign widths = '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
            endif
          -%}
          {{
            product.featured_media
            | image_url
            | image_tag: loading: 'lazy', height: '100vh', sizes: sizes, widths: widths
          }}
        {%- else -%}
          {%- assign placeholder_slide = forloop.index | modulo: 2 -%}
          {%- if placeholder_slide == 1 -%}
            {{ 'hero-apparel-2' | placeholder_svg_tag: 'placeholder-svg' }}
          {%- else -%}
            {{ 'hero-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
          {%- endif -%}
        {%- endif -%}
      </div>
    {%- endfor -%}
  </div>
  <div class="slider-content">
    <div class="slider-content-card">
      <h2 class="slider-content-header">
        <svg width="497.901" height="72.401" viewBox="0 0 497.901 72.401" xmlns="http://www.w3.org/2000/svg">
          <g id="svgGroup" stroke-linecap="round" fill-rule="evenodd" font-size="9pt" stroke="#000" stroke-width="0.25mm" fill="#000" style="stroke:#000;stroke-width:0.25mm;fill:#000"><path d="M 179.7 71.2 L 170.7 71.2 L 170.7 1.2 L 183.3 1.2 L 214.2 59.4 L 214.2 1.2 L 223.2 1.2 L 223.2 71.2 L 210.8 71.2 L 179.7 13.4 L 179.7 71.2 Z M 310.1 71.2 L 300.6 71.2 L 300.6 1.2 L 310.1 1.2 L 310.1 31.1 L 344.6 31.1 L 344.6 1.2 L 354.1 1.2 L 354.1 71.2 L 344.6 71.2 L 344.6 39.3 L 310.1 39.3 L 310.1 71.2 Z M 157.2 71.2 L 115.2 71.2 L 115.2 1.2 L 157.2 1.2 L 157.2 9.4 L 124.7 9.4 L 124.7 30.7 L 152.7 30.7 L 152.7 38.7 L 124.7 38.7 L 124.7 63 L 157.2 63 L 157.2 71.2 Z M 441.6 71.2 L 399.6 71.2 L 399.6 1.2 L 441.6 1.2 L 441.6 9.4 L 409.1 9.4 L 409.1 30.7 L 437.1 30.7 L 437.1 38.7 L 409.1 38.7 L 409.1 63 L 441.6 63 L 441.6 71.2 Z M 449.1 65.3 L 453.9 57.3 Q 457.5 60.3 462 62.2 A 23.348 23.348 0 0 0 467.37 63.71 A 32.118 32.118 0 0 0 472.5 64.1 A 27.981 27.981 0 0 0 477.047 63.754 Q 479.47 63.354 481.431 62.494 A 13.701 13.701 0 0 0 483.9 61.1 Q 487.948 58.209 488.095 53.366 A 12.116 12.116 0 0 0 488.1 53 A 11.94 11.94 0 0 0 487.763 50.107 A 9.816 9.816 0 0 0 486.9 47.85 A 8.097 8.097 0 0 0 485.7 46.194 Q 484.43 44.813 482.284 43.471 A 25.81 25.81 0 0 0 482.25 43.45 Q 479.134 41.508 473.365 39.28 A 118.584 118.584 0 0 0 472.1 38.8 Q 464.9 36 460.6 33.15 A 21.931 21.931 0 0 1 457.511 30.703 Q 455.794 29.053 454.738 27.188 A 13.303 13.303 0 0 1 454.45 26.65 Q 452.6 23 452.6 18 Q 452.6 13 455.35 8.95 Q 458.1 4.9 463.45 2.45 A 25.558 25.558 0 0 1 469.35 0.615 Q 472.593 0 476.4 0 Q 482.6 0 487.55 1.25 Q 492.5 2.5 497.2 4.8 L 493.7 12.9 A 31.496 31.496 0 0 0 489.574 10.881 A 41.686 41.686 0 0 0 485.75 9.55 Q 481.2 8.2 476.2 8.2 A 27.187 27.187 0 0 0 472.17 8.48 Q 470.038 8.8 468.3 9.487 A 12.616 12.616 0 0 0 465.8 10.8 A 9.902 9.902 0 0 0 463.637 12.765 A 7.359 7.359 0 0 0 462 17.5 A 10.464 10.464 0 0 0 462.292 20.022 A 8.562 8.562 0 0 0 463.1 22.1 Q 464.156 24.019 467.191 25.847 A 23.503 23.503 0 0 0 467.45 26 A 33.003 33.003 0 0 0 469.666 27.172 Q 471.935 28.275 475.146 29.523 A 130.016 130.016 0 0 0 477.2 30.3 A 81.228 81.228 0 0 1 482.178 32.329 Q 486.564 34.3 489.55 36.4 A 26.044 26.044 0 0 1 492.59 38.878 Q 494.813 41.006 496 43.35 A 17.579 17.579 0 0 1 497.741 49.213 A 22.155 22.155 0 0 1 497.9 51.9 A 21.71 21.71 0 0 1 497.233 57.401 A 17.105 17.105 0 0 1 494.65 63 Q 491.4 67.6 485.65 70 A 30.521 30.521 0 0 1 478.24 72.004 A 40.027 40.027 0 0 1 472.5 72.4 Q 465.2 72.4 459.2 70.45 A 38.206 38.206 0 0 1 453.833 68.268 A 28.433 28.433 0 0 1 449.1 65.3 Z M 103.2 68.2 L 94.3 72.4 L 85.6 53.4 A 30.586 30.586 0 0 0 83.009 48.827 Q 80.503 45.222 77.3 43.3 Q 72.945 40.687 66.464 40.35 A 37.847 37.847 0 0 0 64.5 40.3 L 63 40.3 L 63 71.2 L 53.5 71.2 L 53.5 1.4 Q 58.8 0.9 63.65 0.65 A 187.94 187.94 0 0 1 69.966 0.435 A 226.267 226.267 0 0 1 74 0.4 Q 86.8 0.4 93.25 5.6 A 17.414 17.414 0 0 1 97.88 11.134 Q 99.7 14.644 99.7 19 A 19.88 19.88 0 0 1 99.049 24.22 A 14.672 14.672 0 0 1 95.35 30.75 Q 91 35.2 82.8 37.4 A 23.656 23.656 0 0 1 86.229 39.263 A 20.427 20.427 0 0 1 87.6 40.25 Q 89.569 41.797 91.405 44.31 A 29.29 29.29 0 0 1 91.65 44.65 Q 93.6 47.4 95.6 51.8 L 103.2 68.2 Z M 9.5 71.2 L 0 71.2 L 0 1.2 L 41.5 1.2 L 41.5 9.4 L 9.5 9.4 L 9.5 30.8 L 36.2 30.8 L 36.2 38.6 L 9.5 38.6 L 9.5 71.2 Z M 286.1 3.6 L 283.2 11.6 Q 280.1 10.1 276.85 9.2 Q 274.057 8.427 270.415 8.318 A 40.705 40.705 0 0 0 269.2 8.3 A 21.173 21.173 0 0 0 261.295 9.755 A 19.981 19.981 0 0 0 257.75 11.6 A 21.167 21.167 0 0 0 251.384 18.181 A 26.978 26.978 0 0 0 249.8 21.1 Q 246.9 27.3 246.9 36.1 Q 246.9 44.5 249.75 50.8 A 25.677 25.677 0 0 0 253.336 56.628 A 21.423 21.423 0 0 0 257.65 60.6 A 19.703 19.703 0 0 0 268.795 64.097 A 23.894 23.894 0 0 0 269.2 64.1 A 33.715 33.715 0 0 0 273.171 63.879 Q 275.647 63.585 277.7 62.9 Q 281.3 61.7 284.7 59.8 L 287.6 67.7 A 37.561 37.561 0 0 1 283.105 69.745 A 47.894 47.894 0 0 1 279.15 71.05 A 33.592 33.592 0 0 1 274.185 72.041 Q 271.703 72.355 268.906 72.395 A 57.414 57.414 0 0 1 268.1 72.4 A 32.384 32.384 0 0 1 258.775 71.099 A 27.961 27.961 0 0 1 252 68.05 A 28.6 28.6 0 0 1 242.123 57.605 A 34.916 34.916 0 0 1 241.1 55.65 A 37.611 37.611 0 0 1 238.001 45.933 Q 237.225 41.667 237.201 36.814 A 62.816 62.816 0 0 1 237.2 36.5 Q 237.2 25.8 241.15 17.55 Q 245.1 9.3 252.35 4.65 A 29.371 29.371 0 0 1 265.03 0.239 A 37.292 37.292 0 0 1 269.3 0 A 45.639 45.639 0 0 1 274.358 0.268 A 35.2 35.2 0 0 1 278.4 0.95 A 38.224 38.224 0 0 1 285.875 3.495 A 35.605 35.605 0 0 1 286.1 3.6 Z M 381.6 71.2 L 372.1 71.2 L 372.1 1.2 L 381.6 1.2 L 381.6 71.2 Z M 63 8.8 L 63 32.3 L 74 32.3 A 26.489 26.489 0 0 0 78.923 31.869 Q 82.852 31.125 85.7 29.1 Q 90.2 25.9 90.2 19.9 A 9.811 9.811 0 0 0 86.927 12.436 A 13.272 13.272 0 0 0 86 11.65 A 13.923 13.923 0 0 0 81.636 9.429 Q 79.707 8.818 77.377 8.57 A 31.944 31.944 0 0 0 74 8.4 Q 70.826 8.4 68.262 8.487 A 118.974 118.974 0 0 0 67.9 8.5 Q 65.2 8.6 63 8.8 Z" vector-effect="non-scaling-stroke"/></g>
        </svg>
        {{ section.settings.header }}
      </h2>
      <h1 class="slider-content-title">
        <hr class="half-divider">
        {{ section.settings.collection.title }}
        <hr class="half-divider">
      </h1>
      <p class="slider-content-description">{{ section.settings.collection.description }}</p>
      <div class="slider-nav">
        {%- for product in section.settings.collection.products limit: section.settings.products_to_show -%}
          <div class="slider-thumb">
            {% render 'card-product-ext',
              card_product: product,
              media_aspect_ratio: section.settings.image_ratio,
              image_shape: section.settings.image_shape,
              show_secondary_image: section.settings.show_secondary_image,
              show_vendor: section.settings.show_vendor,
              show_rating: section.settings.show_rating,
              show_quick_add: section.settings.enable_quick_add,
              section_id: section.id
            %}
          </div>
        {%- endfor -%}
      </div>
    </div>
  </div>
</div>
<script>
  $('.slider-for').slick({
    slidesToShow: 1,
    slidesToScroll: 1,
    asNavFor: '.slider-nav',
  });
  $('.slider-nav').slick({
    slidesToShow: 3,
    slidesToScroll: 1,
    centerMode: true,
    asNavFor: '.slider-for',
  });
</script>
{%- if request.design_mode -%}
  <script src="{{ 'theme-editor.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{% schema %}
{
  "name": "Collection Slideshow",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "t:sections.featured-collection.settings.collection.label"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "min": 2,
      "max": 25,
      "step": 1,
      "default": 4,
      "label": "t:sections.featured-collection.settings.products_to_show.label"
    },

    {
      "type": "text",
      "id": "header",
      "label": "Header"
    }
  ],
  "presets": [
    {
      "name": "Collection Slideshow"
    }
  ]
}
{% endschema %}
