{{ 'section-video-banner.css' | asset_url | stylesheet_tag }}

{%- if section.settings.image_height == 'adapt' and section.settings.image != blank -%}
  {%- style -%}
    @media screen and (max-width: 749px) {
      #Banner-{{ section.id }}::before,
      #Banner-{{ section.id }} .banner__media::before,
      #Banner-{{ section.id }}:not(.banner--mobile-bottom) .banner__content::before {
        padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;
        content: '';
        display: block;
      }
    }

    @media screen and (min-width: 750px) {
      #Banner-{{ section.id }}::before,
      #Banner-{{ section.id }} .banner__media::before {
        padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;
        content: '';
        display: block;
      }
    }
  {%- endstyle -%}
{%- endif -%}

{%- style -%}
  #Banner-{{ section.id }}::after {
    opacity: {{ section.settings.image_overlay_opacity | divided_by: 100.0 }};
  }
{%- endstyle -%}

{%- liquid
  assign full_width = '100vw'
  assign widths = '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'

  if section.settings.image_behavior == 'ambient'
    assign half_width = '60vw'
    assign full_width = '120vw'
    assign stacked_sizes = '(min-width: 750px) 60vw, 120vw'
    assign widths = '450, 660, 900, 1320, 1800, 2136, 2400, 3600, 7680'
  elsif section.settings.image_behavior == 'fixed' or section.settings.image_behavior == 'zoom-in'
    assign half_width = '100vw'
    assign stacked_sizes = '100vw'
  else
    assign half_width = '50vw'
    assign stacked_sizes = '(min-width: 750px) 50vw, 100vw'
  endif
-%}

<div
  id="Banner-{{ section.id }}"
  class="banner banner--content-align-{{ section.settings.desktop_content_alignment }} banner--content-align-mobile-{{ section.settings.mobile_content_alignment }} banner--{{ section.settings.image_height }}{% if section.settings.stack_images_on_mobile and section.settings.image != blank and section.settings.image_2 != blank %} banner--stacked{% endif %}{% if section.settings.image_height == 'adapt' and section.settings.image != blank %} banner--adapt{% endif %}{% if section.settings.show_text_below %} banner--mobile-bottom{%- endif -%}{% if section.settings.show_text_box == false %} banner--desktop-transparent{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}"
>
  {%- if section.settings.video != blank -%}
    <div class="banner__media media{% if section.settings.image == blank and section.settings.image_2 == blank %} placeholder{% endif %}{% if section.settings.image_2 != blank %} banner__media-half{% endif %}{% if section.settings.image_behavior != 'none' %} animate--{{ section.settings.image_behavior }}{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
      {%- liquid
        assign image_height = section.settings.image.width | divided_by: section.settings.image.aspect_ratio
        if section.settings.image_2 != blank
          assign image_class = 'banner__media-image-half'
        endif
        if section.settings.image_2 != blank and section.settings.stack_images_on_mobile
          assign sizes = stacked_sizes
        elsif section.settings.image_2 != blank
          assign sizes = half_width
        else
          assign sizes = full_width
        endif
      -%}

      {{
        section.settings.video
        | video_tag:
          image_size: '1100x',
          width: section.settings.image.width,
          loop: true,
          autoplay: true,
          controls: false,
          muted: true,
          style: 'object-fit:cover'
      }}
      {% comment %}
        {{
          section.settings.video
          | video_tag:
            loop: true,
            autoplay: false,
            muted: true,
            width: section.settings.image.width,
            height: image_height,
            class: image_class,
            sizes: sizes,
            widths: widths
        }}
      {% endcomment %}
      {% comment %}
        {{
          section.settings.image
          | image_url: width: 3840
          | image_tag:
            loading: 'lazy',
            width: section.settings.image.width,
            height: image_height,
            class: image_class,
            sizes: sizes,
            widths: widths
        }}
      {% endcomment %}
    </div>
  {%- elsif section.settings.image_2 == blank -%}
    <div class="banner__media media{% if section.settings.image == blank and section.settings.image_2 == blank %} placeholder{% endif %}{% if section.settings.image_2 != blank %} banner__media-half{% endif %}{% if section.settings.image_behavior != 'none' %} animate--{{ section.settings.image_behavior }}{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
      {{ 'hero-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
    </div>
  {%- endif -%}
  {%- if section.settings.image_2 != blank -%}
    <div class="banner__media media{% if section.settings.image != blank %} banner__media-half{% endif %}{% if section.settings.image_behavior != 'none' %} animate--{{ section.settings.image_behavior }}{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
      {%- liquid
        assign image_height_2 = section.settings.image_2.width | divided_by: section.settings.image_2.aspect_ratio
        if section.settings.image != blank
          assign image_class_2 = 'banner__media-image-half'
        endif
        if section.settings.image != blank and section.settings.stack_images_on_mobile
          assign sizes = stacked_sizes
        elsif section.settings.image_2 != blank
          assign sizes = half_width
        else
          assign sizes = full_width
        endif
      -%}
      {{
        section.settings.image_2
        | image_url: width: 3840
        | image_tag:
          loading: 'lazy',
          width: section.settings.image_2.width,
          height: image_height_2,
          class: image_class_2,
          sizes: sizes,
          widths: widths
      }}
    </div>
  {%- endif -%}
  <div class="banner__content banner__content--{{ section.settings.desktop_content_position }} page-width{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
    <div class="banner__box content-container content-container--full-width-mobile color-{{ section.settings.color_scheme }} gradient">
      {%- if section.settings.show_svg_logo -%}
        <img
          src="{{ 'logo.svg' | asset_url }}"
          width="384"
          height="256"
          loading="eager"
          style="
            left: 0;
            top: 0;
            object-fit: contain;
            position: absolute;
            /* display: flex; */
            z-index: 0;
            object-position: left;
          "
        >
        <div
          style="position: relative;width: 384px;height: 256px;display: flex;z-index:1"
          class="banner__svg_logo"
        >
          <img
            src="{{ 'logo-flower.png' | asset_url }}"
            width="128"
            height="128"
            loading="eager"
            style="
              left: 0;
              top: 0;
              object-fit: contain;
              position: absolute;
              /* display: flex; */
              z-index: 0;
              object-position: left;
            "
          >
          <svg
            style="
              height: 194px;
              position: relative;
              align-self: end;
              margin-left: 64px;
              z-index: 1;
              justify-self: self-start;
            "
            id="Layer_1"
            data-name="Layer 1"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 303.2 219.34"
          >
            <path d="m54.46,11.27l8.15,19.79-9.58,23.45L36.47,11.36c-2.59-6.89-3.22-8.68-.45-9.49V.71h-13.88v1.16c1.97.81,4.03,2.6,6.63,9.49l19.79,52.02h2.51l12.35-30.35,12.44,30.35h2.51l18.71-52.02c2.51-6.8,4.66-8.68,7.16-9.49V.71h-10.11v1.16c3.04.63,3.58,3.67,1.43,9.49l-15.58,42.97-12.08-29.28,5.01-13.7c2.51-6.8,4.66-8.68,7.16-9.49V.7h-9.84v1.16c2.95.63,3.31,3.58,1.07,9.49l-4.3,11.64-4.83-11.82c-2.78-6.71-3.49-8.51-.81-9.31V.7h-13.7v1.16c1.97.81,4.12,2.6,6.8,9.4h0Z" fill="#191919"></path>
            <path d="m101.28,63.38h10.11v-1.16c-3.04-.63-3.4-3.58-1.07-9.4l5.28-13.07h25.24l5.46,13.16c2.86,6.71,3.58,8.51.8,9.31v1.16h13.88v-1.16c-1.88-.81-4.03-2.6-6.81-9.31L132.15,0l-6.71,3.05.8,1.88c.72,1.43.81,2.59.18,4.21l-17.64,43.69c-2.78,6.8-5.02,8.59-7.52,9.4v1.16h.02Zm14.86-24.98l11.91-29.45,12.27,29.45h-24.18Z" fill="#191919"></path>
            <path d="m157.77,63.38h10.11v-1.16c-3.04-.63-3.4-3.58-1.07-9.4l5.28-13.07h25.24l5.46,13.16c2.86,6.71,3.58,8.51.8,9.31v1.16h13.88v-1.16c-1.88-.81-4.03-2.6-6.81-9.31L188.64,0l-6.71,3.05.8,1.88c.72,1.43.81,2.59.18,4.21l-17.64,43.69c-2.78,6.8-5.02,8.59-7.52,9.4v1.16h.02Zm14.86-24.98l11.91-29.45,12.27,29.45h-24.18Z" fill="#191919"></path>
            <path d="m220.34,63.38h23.45c19.7,0,32.41-13.61,32.32-32.49-.09-14.51-9.76-30.17-34.38-30.17h-21.4v1.16c2.68.81,3.58,2.86,3.58,10.21v39.93c0,7.34-.9,9.4-3.58,10.21v1.16h0Zm10.92-7.88V2.06h6.08c19.97,0,30.62,14.5,30.62,32.41s-8.68,27.57-24.35,27.57h-6.54c-4.92,0-5.82-2.33-5.82-6.54h.01Z" fill="#191919"></path>
            <path d="m0,152.22h14.5v-1.16c-2.78-.81-3.58-2.86-3.58-10.21v-15.4l6.62-6.81h1.79c9.04-.27,10.39,5.19,16.3,19.7,4.3,10.47,5.91,14.32,12.44,14.32,1.88,0,3.85-.18,5.37-.63v-1.17c-.54.09-.98.09-1.52.09-2.86,0-4.83-3.13-9.4-14.59-6.09-15.31-8.15-20.15-21.48-19.25l-2.06.09,19.07-19.52c5.1-5.28,8.86-6.18,11.72-6.98v-1.16h-12.44v.81c3.49.54,2.69,3.49-2.95,9.31l-23.45,23.99v-22.74c0-7.34.8-9.4,3.58-10.21v-1.16H.01v1.16c2.68.81,3.58,2.86,3.58,10.21v39.93c0,7.34-.9,9.4-3.58,10.21v1.16h-.01Z" fill="#191919"></path>
            <path d="m56.4,152.22h14.5v-1.16c-2.78-.81-3.58-2.86-3.58-10.21v-21.13h34.1v21.13c0,7.34-.89,9.4-3.58,10.21v1.16h14.5v-1.16c-2.77-.81-3.58-2.86-3.58-10.21v-39.93c0-7.34.81-9.4,3.58-10.21v-1.16h-14.5v1.16c2.69.81,3.58,2.86,3.58,10.21v17.37h-34.1v-17.37c0-7.34.8-9.4,3.58-10.21v-1.16h-14.5v1.16c2.68.81,3.58,2.86,3.58,10.21v39.93c0,7.34-.9,9.4-3.58,10.21v1.16h0Z" fill="#191919"></path>
            <path d="m114.4,152.22h10.11v-1.16c-3.04-.63-3.4-3.58-1.07-9.4l5.28-13.07h25.24l5.46,13.16c2.86,6.71,3.58,8.51.8,9.31v1.16h13.88v-1.16c-1.88-.81-4.03-2.6-6.81-9.31l-22.02-52.91-6.71,3.05.8,1.88c.72,1.43.81,2.59.18,4.21l-17.64,43.69c-2.78,6.8-5.02,8.59-7.52,9.4v1.16h.02Zm14.86-24.98l11.91-29.45,12.27,29.45h-24.18Z" fill="#191919"></path>
            <path d="m176.98,152.22h41.63l.63-10.11-.98-.18c-3.14,6.71-7.07,8.86-15.67,8.86h-10.66c-2.59,0-4.03-1.43-4.03-4.03v-45.83c0-7.34.8-9.4,3.58-10.21v-1.16h-14.5v1.16c2.68.81,3.58,2.86,3.58,10.21v39.93c0,7.34-.9,9.4-3.58,10.21v1.16h0Z" fill="#191919"></path>
            <path d="m224.69,152.22h14.5v-1.16c-2.78-.81-3.58-2.86-3.58-10.21v-39.93c0-7.34.8-9.4,3.58-10.21v-1.16h-14.5v1.16c2.68.81,3.58,2.86,3.58,10.21v39.93c0,7.34-.9,9.4-3.58,10.21v1.16h0Z" fill="#191919"></path>
            <path d="m247.43,152.22h23.45c19.7,0,32.41-13.61,32.32-32.49-.09-14.51-9.76-30.17-34.38-30.17h-21.4v1.16c2.68.81,3.58,2.86,3.58,10.21v39.93c0,7.34-.9,9.4-3.58,10.21v1.16h0Zm10.92-7.88v-53.44h6.08c19.97,0,30.62,14.5,30.62,32.41s-8.68,27.57-24.35,27.57h-6.54c-4.92,0-5.82-2.33-5.82-6.54h.01Z" fill="#191919"></path>
            <path d="m11.58,196.37h-1.75l-5.65-7.6v7.6h-1.79v-10.6h1.75l5.69,7.63v-7.63h1.75v10.6Z" fill="#191919"></path>
            <path d="m30.31,193.97h-5.33l-1.02,2.4h-1.85l4.67-10.6h1.83l4.65,10.6h-1.92l-1.02-2.4h-.01Zm-.67-1.58l-2-4.71-2,4.71h4Z" fill="#191919"></path>
            <path d="m45.54,196.37h-1.79v-10.6h1.79v10.6Z" fill="#191919"></path>
            <path d="m59.2,194.74h4.58v1.63h-6.38v-10.6h1.79v8.98h0Z" fill="#191919"></path>
            <path d="m87.58,185.76h4.6c1.09,0,1.96.24,2.6.71s.96,1.12.96,1.94c0,.6-.17,1.11-.5,1.54-.33.42-.79.7-1.38.83.71.11,1.26.41,1.67.9.4.47.6,1.06.6,1.77,0,.92-.35,1.64-1.04,2.15-.68.52-1.62.77-2.81.77h-4.71v-10.6h0Zm1.79,1.58v2.81h2.73c.55,0,.99-.13,1.31-.38.33-.25.5-.59.5-1.04s-.16-.78-.48-1.02c-.32-.25-.77-.38-1.33-.38h-2.73Zm0,4.4v3.04h2.73c.69,0,1.23-.13,1.63-.4.39-.28.58-.66.58-1.15s-.2-.84-.58-1.1c-.39-.26-.93-.4-1.63-.4h-2.73Z" fill="#191919"></path>
            <path d="m114.19,193.97h-5.33l-1.02,2.4h-1.85l4.67-10.6h1.83l4.65,10.6h-1.92l-1.02-2.4h0Zm-.67-1.58l-2-4.71-2,4.71h4Z" fill="#191919"></path>
            <path d="m134.35,196.37l-1.94-3.21c-.11.02-.28.02-.5.02h-2.5v3.19h-1.79v-10.6h4.29c1.36,0,2.41.32,3.15.96.75.63,1.13,1.52,1.13,2.67,0,.85-.19,1.56-.56,2.15s-.92,1.02-1.63,1.29l2.38,3.54h-2.03Zm-4.94-4.79h2.5c1.72,0,2.58-.71,2.58-2.15s-.86-2.06-2.58-2.06h-2.5v4.21h0Z" fill="#191919"></path>
            <path d="m168.31,196.66l-1.65-1.63c-.99.95-2.06,1.42-3.21,1.42-.95,0-1.74-.28-2.38-.85s-.96-1.28-.96-2.13c0-.68.2-1.24.6-1.69.42-.44.98-.86,1.69-1.25-.67-.9-1-1.72-1-2.46s.25-1.28.75-1.73c.51-.44,1.18-.67,2-.67s1.44.21,1.94.63.75.95.75,1.6c0,.35-.07.67-.21.96-.14.29-.35.56-.63.79-.27.24-.53.44-.79.6-.25.16-.57.33-.96.54.5.58,1.24,1.35,2.23,2.31.36-.55.68-1.19.96-1.92l1.13.85c-.33.79-.7,1.46-1.1,2l1.73,1.69-.9.92v.02Zm-5.52-8.58c0,.53.26,1.16.77,1.88.63-.33,1.09-.65,1.42-.94.32-.29.48-.65.48-1.08,0-.34-.12-.63-.35-.83-.22-.21-.53-.31-.92-.31-.42,0-.76.13-1.02.38-.25.24-.38.54-.38.92v-.02Zm.73,7.04c.75,0,1.48-.34,2.19-1.02-1.21-1.21-2.07-2.1-2.58-2.69-.49.29-.87.59-1.15.9-.27.29-.4.64-.4,1.04,0,.52.18.94.54,1.27.38.33.84.5,1.4.5h0Z" fill="#191919"></path>
            <path d="m203.99,196.37h-1.65l-.02-7.92-3.35,6.81h-1.17l-3.33-6.81v7.92h-1.69v-10.6h2.13l3.5,7.04,3.48-7.04h2.1v10.6h0Z" fill="#191919"></path>
            <path d="m216.61,187.26c1.08-1.03,2.42-1.54,4-1.54s2.93.52,4,1.54c1.08,1.02,1.63,2.29,1.63,3.81s-.54,2.79-1.63,3.83c-1.07,1.03-2.41,1.54-4,1.54s-2.92-.51-4-1.54c-1.07-1.04-1.6-2.32-1.6-3.83s.53-2.8,1.6-3.81Zm4.02.06c-1.04,0-1.94.36-2.69,1.08s-1.13,1.61-1.13,2.67.38,1.93,1.13,2.67,1.65,1.1,2.69,1.1,1.93-.36,2.67-1.1c.73-.73,1.1-1.63,1.1-2.67s-.37-1.94-1.1-2.67c-.74-.72-1.63-1.08-2.67-1.08Z" fill="#191919"></path>
            <path d="m243.97,196.37l-1.94-3.21c-.11.02-.28.02-.5.02h-2.5v3.19h-1.79v-10.6h4.29c1.36,0,2.41.32,3.15.96.75.63,1.13,1.52,1.13,2.67,0,.85-.19,1.56-.56,2.15s-.92,1.02-1.63,1.29l2.38,3.54h-2.03Zm-4.94-4.79h2.5c1.72,0,2.58-.71,2.58-2.15s-.86-2.06-2.58-2.06h-2.5v4.21h0Z" fill="#191919"></path>
            <path d="m264.84,187.37h-5.77v2.88h5.17v1.6h-5.17v2.92h5.96v1.6h-7.75v-10.6h7.56v1.6h0Z" fill="#191919"></path>
            <path d="m93.8,211.42c1.01,0,1.92.27,2.73.79l-.54,1.17c-.79-.48-1.56-.73-2.29-.73-.39,0-.7.08-.94.23-.22.14-.33.34-.33.6s.1.47.31.65c.21.18.46.32.77.42.32.08.66.19,1.02.31.38.13.71.27,1.02.42.32.14.57.37.77.69.21.31.31.68.31,1.1,0,.68-.27,1.23-.81,1.65-.54.41-1.25.6-2.13.6-.6,0-1.18-.11-1.73-.33-.56-.22-1.04-.52-1.46-.9l.56-1.15c.4.36.83.65,1.29.85.47.2.92.29,1.35.29.46,0,.81-.08,1.06-.25.26-.17.4-.4.4-.71,0-.26-.1-.48-.31-.67-.21-.18-.47-.31-.79-.4-.31-.09-.64-.2-1-.31-.36-.13-.7-.26-1.02-.4-.31-.14-.56-.36-.77-.67-.21-.3-.31-.67-.31-1.1,0-.65.26-1.17.77-1.56.53-.4,1.21-.6,2.06-.6h0Z" fill="#191919"></path>
            <path d="m106.18,219.27h-1.31v-7.81h1.31v7.81Z" fill="#191919"></path>
            <path d="m121.7,219.27h-1.29l-4.17-5.6v5.6h-1.31v-7.81h1.29l4.19,5.63v-5.63h1.29v7.81Z" fill="#191919"></path>
            <path d="m133.91,211.44c.55,0,1.09.1,1.6.31.53.21.98.51,1.35.9l-.77.96c-.28-.3-.61-.55-1-.73-.39-.18-.78-.27-1.17-.27-.78,0-1.44.27-1.98.81-.54.53-.81,1.18-.81,1.94s.27,1.42.81,1.96c.54.53,1.2.79,1.98.79s1.53-.31,2.17-.94l.79.88c-.41.41-.88.72-1.42.96-.53.22-1.06.33-1.6.33-1.14,0-2.1-.38-2.9-1.15-.78-.76-1.17-1.71-1.17-2.83s.4-2.04,1.19-2.79,1.76-1.13,2.92-1.13h0Z" fill="#191919"></path>
            <path d="m150.49,212.65h-4.27v2.1h3.81v1.19h-3.81v2.15h4.4v1.19h-5.71v-7.81h5.58v1.19h0Z" fill="#191919"></path>
            <path d="m170.67,211.42c.75,0,1.34.18,1.79.54.46.35.69.82.69,1.42,0,.68-.47,1.54-1.42,2.56l-2.02,2.15h3.81v1.19h-5.56v-.96l2.88-3.08c.64-.65.96-1.21.96-1.67,0-.3-.12-.55-.35-.73-.24-.18-.56-.27-.96-.27-.71,0-1.42.33-2.13.98l-.52-1.02c.9-.73,1.84-1.1,2.83-1.1h0Z" fill="#191919"></path>
            <path d="m184.57,211.44c1.07,0,1.89.34,2.46,1.02s.85,1.66.85,2.92-.29,2.24-.85,2.92c-.57.68-1.39,1.02-2.46,1.02s-1.89-.34-2.46-1.02-.85-1.65-.85-2.92.28-2.23.85-2.92c.57-.68,1.39-1.02,2.46-1.02Zm0,1.04c-1.32,0-1.98.97-1.98,2.9s.66,2.9,1.98,2.9,1.96-.96,1.96-2.9-.66-2.9-1.96-2.9Z" fill="#191919"></path>
            <path d="m198.09,219.27h-1.31v-6.63h-1.52v-1.19h2.83v7.81h0Z" fill="#191919"></path>
            <path d="m209.14,219.33c-.86,0-1.64-.2-2.33-.6l.52-.98c.5.32,1.07.48,1.73.48.73,0,1.28-.25,1.65-.75.38-.51.55-1.2.52-2.06-.42.74-1.13,1.1-2.13,1.1-.78,0-1.4-.22-1.85-.67-.45-.46-.67-1.06-.67-1.81,0-.8.25-1.44.75-1.92.5-.47,1.17-.71,2-.71.98,0,1.76.33,2.33,1,.57.67.85,1.6.85,2.79s-.31,2.25-.92,3c-.61.75-1.43,1.13-2.46,1.13h.01Zm.21-3.85c.51,0,.92-.14,1.21-.42.3-.29.46-.65.46-1.06,0-.38-.14-.71-.42-1-.28-.3-.68-.46-1.21-.46-.47,0-.85.14-1.15.4-.29.27-.44.64-.44,1.1s.13.8.4,1.06c.28.25.66.38,1.15.38h0Z" fill="#191919"></path>
          </svg>
          <img
            src="{{ 'logo-flower.png' | asset_url }}"
            width="128"
            height="128"
            loading="eager"
            style="
              right: 0;
              bottom: 16px;
              object-fit: contain;
              position: absolute;
              /* display: flex; */
              z-index: 0;
              object-position: right;
              transform:rotate(45deg)
            "
          >
        </div>
      {%- endif -%}
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'heading' -%}
            <h2
              class="banner__heading inline-richtext {{ block.settings.heading_size }}"
              {{ block.shopify_attributes }}
            >
              {{ block.settings.heading }}
            </h2>
          {%- when 'image' -%}
            {{
              block.settings.image
              | image_url: width: 200
              | image_tag:
                loading: 'lazy',
                widths: '50, 75, 100, 150, 200, 300, 400, 500, 750, 1000, 1250, 1500, 1750, 2000, 2250, 2500, 2750, 3000, 3200',
                sizes: sizes
            }}
            {% comment %}     {{ block.settings.image | image_url | image_tag: block.settings.image.alt }} {% endcomment %}
          {%- when 'text' -%}
            <div class="banner__text rte {{ block.settings.text_style }}" {{ block.shopify_attributes }}>
              <p>{{ block.settings.text }}</p>
            </div>
          {%- when 'buttons' -%}
            <div
              class="banner__buttons{% if block.settings.button_label_1 != blank and block.settings.button_label_2 != blank %} banner__buttons--multiple{% endif %}"
              {{ block.shopify_attributes }}
            >
              {%- if block.settings.button_label_1 != blank -%}
                <a
                  {% if block.settings.button_link_1 == blank %}
                    role="link" aria-disabled="true"
                  {% else %}
                    href="{{ block.settings.button_link_1 }}"
                  {% endif %}
                  class="button{% if block.settings.button_style_secondary_1 %} button--secondary{% else %} button--primary{% endif %}"
                >
                  {{- block.settings.button_label_1 | escape -}}
                </a>
              {%- endif -%}
              {%- if block.settings.button_label_2 != blank -%}
                <a
                  {% if block.settings.button_link_2 == blank %}
                    role="link" aria-disabled="true"
                  {% else %}
                    href="{{ block.settings.button_link_2 }}"
                  {% endif %}
                  class="button{% if block.settings.button_style_secondary_2 %} button--secondary{% else %} button--primary{% endif %}"
                >
                  {{- block.settings.button_label_2 | escape -}}
                </a>
              {%- endif -%}
            </div>
        {%- endcase -%}
      {%- endfor -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.video-banner.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "video",
      "id": "video",
      "label": "t:sections.video-banner.settings.video.label"
    },
    {
      "type": "video",
      "id": "video_1",
      "label": "t:sections.video-banner.settings.video_2.label"
    },
    {
      "type": "range",
      "id": "image_overlay_opacity",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "t:sections.image-banner.settings.image_overlay_opacity.label",
      "default": 0
    },
    {
      "type": "select",
      "id": "image_height",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.image-banner.settings.image_height.options__1.label"
        },
        {
          "value": "small",
          "label": "t:sections.image-banner.settings.image_height.options__2.label"
        },
        {
          "value": "medium",
          "label": "t:sections.image-banner.settings.image_height.options__3.label"
        },
        {
          "value": "large",
          "label": "t:sections.image-banner.settings.image_height.options__4.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.image-banner.settings.image_height.label",
      "info": "t:sections.image-banner.settings.image_height.info"
    },
    {
      "type": "select",
      "id": "desktop_content_position",
      "options": [
        {
          "value": "top-left",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__1.label"
        },
        {
          "value": "top-center",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__2.label"
        },
        {
          "value": "top-right",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__3.label"
        },
        {
          "value": "middle-left",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__4.label"
        },
        {
          "value": "middle-center",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__5.label"
        },
        {
          "value": "middle-right",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__6.label"
        },
        {
          "value": "bottom-left",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__7.label"
        },
        {
          "value": "bottom-center",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__8.label"
        },
        {
          "value": "bottom-right",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__9.label"
        }
      ],
      "default": "middle-center",
      "label": "t:sections.image-banner.settings.desktop_content_position.label"
    },
    {
      "type": "checkbox",
      "id": "show_text_box",
      "default": true,
      "label": "t:sections.video-banner.settings.show_text_box.label"
    },
    {
      "type": "checkbox",
      "id": "show_svg_logo",
      "default": true,
      "label": "t:sections.video-banner.settings.show_svg_logo.label"
    },
    {
      "type": "select",
      "id": "desktop_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.image-banner.settings.desktop_content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.image-banner.settings.desktop_content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.image-banner.settings.desktop_content_alignment.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.image-banner.settings.desktop_content_alignment.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "background-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.animation.content"
    },
    {
      "type": "select",
      "id": "image_behavior",
      "options": [
        {
          "value": "none",
          "label": "t:sections.all.animation.image_behavior.options__1.label"
        },
        {
          "value": "ambient",
          "label": "t:sections.all.animation.image_behavior.options__2.label"
        },
        {
          "value": "fixed",
          "label": "t:sections.all.animation.image_behavior.options__3.label"
        },
        {
          "value": "zoom-in",
          "label": "t:sections.all.animation.image_behavior.options__4.label"
        }
      ],
      "default": "none",
      "label": "t:sections.all.animation.image_behavior.label"
    },
    {
      "type": "header",
      "content": "t:sections.image-banner.settings.mobile.content"
    },
    {
      "type": "select",
      "id": "mobile_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.image-banner.settings.mobile_content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.image-banner.settings.mobile_content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.image-banner.settings.mobile_content_alignment.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.image-banner.settings.mobile_content_alignment.label"
    },
    {
      "type": "checkbox",
      "id": "stack_images_on_mobile",
      "default": true,
      "label": "t:sections.image-banner.settings.stack_images_on_mobile.label"
    },
    {
      "type": "checkbox",
      "id": "show_text_below",
      "default": true,
      "label": "t:sections.image-banner.settings.show_text_below.label"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.image-banner.blocks.heading.name",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "Image banner",
          "label": "t:sections.image-banner.blocks.heading.settings.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h0",
              "label": "t:sections.all.heading_size.options__3.label"
            }
          ],
          "default": "h1",
          "label": "t:sections.all.heading_size.label"
        }
      ]
    },
    {
      "type": "image",
      "name": "Image",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Logo Image"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.image-banner.blocks.text.name",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "text",
          "default": "Give customers details about the banner image(s) or content on the template.",
          "label": "t:sections.image-banner.blocks.text.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "body",
              "label": "t:sections.image-banner.blocks.text.settings.text_style.options__1.label"
            },
            {
              "value": "subtitle",
              "label": "t:sections.image-banner.blocks.text.settings.text_style.options__2.label"
            },
            {
              "value": "caption-with-letter-spacing",
              "label": "t:sections.image-banner.blocks.text.settings.text_style.options__3.label"
            }
          ],
          "default": "body",
          "label": "t:sections.image-banner.blocks.text.settings.text_style.label"
        }
      ]
    },
    {
      "type": "buttons",
      "name": "t:sections.image-banner.blocks.buttons.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label_1",
          "default": "Button label",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_label_1.label",
          "info": "t:sections.image-banner.blocks.buttons.settings.button_label_1.info"
        },
        {
          "type": "url",
          "id": "button_link_1",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_link_1.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary_1",
          "default": false,
          "label": "t:sections.image-banner.blocks.buttons.settings.button_style_secondary_1.label"
        },
        {
          "type": "text",
          "id": "button_label_2",
          "default": "Button label",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_label_2.label",
          "info": "t:sections.image-banner.blocks.buttons.settings.button_label_2.info"
        },
        {
          "type": "url",
          "id": "button_link_2",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_link_2.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary_2",
          "default": false,
          "label": "t:sections.image-banner.blocks.buttons.settings.button_style_secondary_2.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.video-banner.presets.name",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "image"
        },
        {
          "type": "text"
        },
        {
          "type": "buttons"
        }
      ]
    }
  ]
}
{% endschema %}
